[2016-02-11 01:46] hackebrot commented on #188
I think ``--replay`` of #501 completes this story for the most part :triumph:

[2016-02-11 01:46] #188 closed

[2016-02-11 01:48] hackebrot commented on #381
Sigh we definitely need something like this...we've had so much trouble with yaml though. Json is kinda awkward too as it's lacking comment support.

[2016-02-11 01:53] hackebrot commented on #133
http://cookiecutter.readthedocs.org/en/latest/advanced_usage.html#copy-without-render :smile_cat:

[2016-02-11 01:53] #133 closed

[2016-02-11 02:05] hackebrot commented on #632
:bell:

[2016-02-11 02:06] hackebrot commented on #628
Jinja2 Extension? :smile:

[2016-02-11 19:11] hackebrot commented on #633
Hmm is that any better than running ``$ find project -type f``?

[2016-02-11 19:30] shaleh commented on #633
Created from the closed #22 discussion.

[2016-02-21 13:58] yufeiminds opened #637 "Can i use my jinja environment on cookiecutter?"
I want to use some extra filters and global functions on my template. But the implement of `cookiecutter.generate.generate_files` create the environment inside of this function.

[2016-02-21 17:22] hackebrot commented on #637
Hi @yufeiminds! :wave:

The upcoming release of Cookiecutter let's you inject **jinja2 Extensions**.

See #617

[2016-02-25 16:26] #637 closed

[2016-02-26 10:37] yufeiminds commented on #637
Thank you very much~! :+1:

[2016-02-26 17:46] hackebrot commented on #637
Not at all. You're very much welcome :smile_cat:

[2016-02-28 15:04] nfarrar opened #640 "Expand Environment Variables in Cookiecutter Configuration File"
I set my cookiecutterrc file via an environment variable, like this:

    export COOKIECUTTER_CONFIG="$XDG_CONFIG_HOME/cookiecutter/cookiecutterrc"

In my cookiecutterrc, I'd like to use those same environment variables to set paths, however they don't currently expand:

    default_context:
        full_name: "Nathan Farrar"
        email: "nathan.farrar@gmail.com"
        github_username: "nfarr

[2016-03-01 20:47] hackebrot commented on #640
Hi @nfarrar, thanks for submitting an issue :bow:

Please review and test #640

[2016-03-03 02:52] Klortho commented on #627
+1

Or just `cookiecutter awesome-package`.

If it's not too heretical, I'd suggest checking out npmjs.org to host the templates -- you can put anything into an npm package, as long as it has a package.json file.

[2016-03-05 08:26] xsteadfastx commented on #547
Any news on the filters? I use cookiecutter to create blog posts for pelican und want to use the slugish python package to create the slug from the title. Do I need to create a whole jinja2 extension for that?

And BTW... Thanks for this great piece of software ☺

[2016-03-08 01:02] hackebrot commented on #547
Thank you for your feedback @xsteadfastx! :bow: Appreciate it.

At this point you have to create a jinja2 extension that adds your filters to the environment.

[2016-03-09 22:00] #640 closed

[2016-03-10 19:55] satreix opened #646 "CLI way to specify parameters"
I would like to have a way to specify one/several parameters in `cookiecutter` from the command line. The point being I know the template I am using, and I am willing to use the defaults values except from some of them.

Something like:

[code]

How would you feel about that?

[2016-03-11 12:03] michaeljoseph commented on #646
@satreix This is a dupe of #389 and we have an in-flight PR: #400

[2016-03-11 12:03] #646 closed

[2016-03-14 08:38] xsteadfastx commented on #547
ok... so i will google around how to write a extension for custom filters :) thank you.

[2016-03-14 20:43] sundeer commented on #385
Just ran into this myself and left me scratching my head a bit.

[2016-03-15 00:48] hackebrot commented on #547
No need for google, the [jinja2 docs](http://jinja.pocoo.org/docs/dev/extensions/#module-jinja2.ext) are just fine.

[code]

[2016-03-15 09:08] xsteadfastx commented on #547
ok i will try that :) thanks a thousand times

[2016-03-16 08:19] pascal-git opened #649 "with compressed input files output is gzipped twice..."
I did run `cookiecutter remove` on a set of paired reads in compressed fastq files like this:

`$ cookiecutter remove -t 32 -1 81084_R1.1pct.cor.fq.gz -2 81084_R2.1pct.cor.fq.gz -f phix.txt -o .`

The two output files are then gzipped twice:

`$ gzip -cd 81084_R1.1pct.cor.fq.ok.fastq.gz | head`

=> gibberish (gzipped binary)

`$ gzip -cd 81084_R1.1pct.cor.fq.ok.fastq.gz | gzip -d | head`

=> fastq

[2016-03-16 08:22] pascal-git commented on #649
Sorry, wrong "cookiecutter", my bad... should be https://github.com/ad3002/Cookiecutter

[2016-03-16 08:22] #649 closed

[2016-03-16 13:14] prodicus opened #651 "cookiecutter-python is a dead link"
The cookiecutter template mentioned in README, named **cookiecutter-python** is a dead link.

[2016-03-16 13:32] michaeljoseph commented on #651
@prodicus thanks for the issue :)
Do you think you could submit a quick PR for this?

[2016-03-16 13:38] prodicus commented on #651
@michaeljoseph Sure why not! But I am not aware of the working link.

[2016-03-16 15:13] michaeljoseph commented on #651
We can just remove it...

[2016-03-16 16:54] prodicus commented on #651
@michaeljoseph On it :+1:

[2016-03-16 19:27] michaeljoseph commented on #385
Re-visiting this one, and my current plan is:

- [ ] Gracefully handle the case where the code assumes we're referencing a local filesystem repo, but it doesn't exist (#652)
- [ ] After trying repository URLs and local repos, check if we have a match for an existing directory in `~/.cookiecutters` and use that
- [ ] When we're trying to clone a remote repo to `~/.cookiecutters`, but there's alread

[2016-03-18 13:52] #651 closed

[2016-03-20 16:33] hackebrot commented on #610
Commencing release :runner:

---
1.4.0 (2016-03-20) Shortbread
-----------------------------

The goal of this release is changing to a strict Jinja2 environment, paving the way to more awesome in the future, as well as adding support for Jinja2 extensions.

New Features:

-   Added support for Jinja2 extension support, thanks to [@hackebrot](https://github.com/hackebrot) (\#617).
-   Now raises a

[2016-03-20 16:39] willingc commented on #610
:cookie: :cookie: :cookie: :ice_cream: :ice_cream: to all involved with the release :smile:

[2016-03-20 16:44] hackebrot commented on #610
Thanks @willingc :grin:

[2016-03-20 18:00] hackebrot commented on #610
WOHOO https://pypi.python.org/pypi/cookiecutter/1.4.0 :heart_eyes: :cookie:

[2016-03-20 18:00] #610 closed

[2016-03-20 19:07] pydanny commented on #610
:cookie: :shaved_ice: Hooray! :clap:

[2016-04-03 16:10] hackebrot opened #662 "Improve the Docs"
Hi friends,

I would like to improve our documentation especially for potential contributors. Right now I'm revisiting the structure and the basic requirements, see [hackebrot/docs](https://github.com/hackebrot/docs).

I warmly welcome you to contribute. Please let me know your thoughts. :smile:

@pydanny @audreyr @michaeljoseph

@jasonamyers offered to help us with the docs :bow:

[2016-04-04 13:54] jasonamyers commented on #662
Great start to this already. I want to make sure there is a space for Quick Start Guides/Tutorials. I know my first experience with cookiecutter took a bit of fiddling to understand how to use the flask template for example. I'd like to see a quick example of how to use one of the existing templates. I like the ones we have now about creating a template and using it; however, I feel like that sect

[2016-04-04 14:27] willingc commented on #662
@hackebrot @jasonamyers Happy to review content or pitch in with the docs as well :ice_cream:

[2016-04-04 20:30] hackebrot commented on #662
Thank you @jasonamyers @willingc :blush:

[2016-04-04 20:34] hackebrot commented on #662
The problem with templates really is that we do not maintain them, so I'd personally only document those who we authored ourselves ([cookiecutter-pypackage](https://github.com/audreyr/cookiecutter-pypackage), [cookiecutter-django](https://github.com/pydanny/cookiecutter-django) or [cookiecutter-pytest-plugin](https://github.com/pytest-dev/cookiecutter-pytest-plugin)).

[2016-04-04 20:45] jasonamyers commented on #662
@hackebrot that sounds great to me, I just wanted to make sure we had a quick example of how to get started with an existing template. The tutorials tend to start with build your own.

[2016-04-04 21:05] hackebrot commented on #662
I agree :+1:

[2016-04-04 22:48] hackebrot commented on #662
Updated the **README**. Feel free to open issues or add more comments here.

On a side note: I am not super happy with having all the templates on the Cookiecutter README. It won't scale in the long run, yet I struggle to come up with a better solution. Even had conversations on that topic at the WriteTheDocs conference :grin:

Any ideas?

[2016-04-05 00:07] willingc commented on #662
Perhaps put the available cookiecutters section at the end of the README. I always liked seeing all of them. There could be a section earlier in the README, perhaps "Cookiecutter Types", that is a table of the major categories of cookiecutters (Python, Django, ...) and each category links to the bottom section in the README.

I would also consider featuring a few templates that are frequently used

[2016-04-08 05:54] #434 closed

[2016-04-08 07:04] michaeljoseph commented on #155
:clock10:
[1.4.0](https://github.com/audreyr/cookiecutter/releases/tag/1.4.0) now includes [hackebrot/jinja2-time](https://github.com/hackebrot/jinja2-time).

[2016-04-08 07:04] #155 closed

[2016-04-08 07:05] michaeljoseph commented on #154
:clock10:
[1.4.0](https://github.com/audreyr/cookiecutter/releases/tag/1.4.0) now includes [hackebrot/jinja2-time](https://github.com/hackebrot/jinja2-time).

[2016-04-08 07:05] #154 closed

[2016-04-08 07:05] michaeljoseph commented on #428
:clock10:
[1.4.0](https://github.com/audreyr/cookiecutter/releases/tag/1.4.0) now includes [hackebrot/jinja2-time](https://github.com/hackebrot/jinja2-time).

[2016-04-08 07:05] #428 closed

[2016-04-08 07:35] #547 closed

[2016-04-08 07:45] michaeljoseph commented on #145
Fixed by #490.

[2016-04-08 07:45] #145 closed

[2016-04-08 07:48] michaeljoseph commented on #121
Fixed by #490.

[2016-04-08 07:48] #121 closed

[2016-04-10 17:29] lelit opened #671 "Initialize locale at startup"
It would be nice if `cli.main()` could initialize the locale at startup, that is simply call `locale.setlocale(locale.LC_ALL, '')`, maybe controlled with a new option.

One simple use case is producing a timestamp in the user locale.

An alternative could be having a startup-hook, that runs very early, before prompting the user.

My current workaround is the following very simple script:

[code]

[2016-04-10 19:08] hackebrot commented on #671
If you would like to generate a timestamp, please use ``{% now 'local', '%Y-%m-%d' %}`` instead.

See [jinja2-time](https://github.com/hackebrot/jinja2-time) which is now built-in since #653

[2016-04-10 19:37] lelit commented on #671
I know (great discovering of today, btw!), but usually I put something like

[code]

in my standard header. Those `%a` and `%b` come out in italian for free, once you property initialize the locale.

[2016-04-10 19:42] hackebrot commented on #671
That's not the job of cookiecutter, is it? Not quite sure, I understand 😕

IMHO, we should not mess with the users environment.

[2016-04-10 19:46] lelit commented on #671
Well, I tend to disagree :smile: I think that most CLI tools should be locale-aware these days...

Anyway, what about an `_enable_user_locale: true` in the JSON file then?

[2016-04-10 19:49] hackebrot commented on #671
http://click.pocoo.org/5/python3/#python-3-surrogate-handling

[2016-04-10 19:53] lelit commented on #671
I'm afraid I do not get the point, can you explain? Do you mean that Click is not up to the task of handling a locale different from C?

[2016-04-10 20:03] hackebrot commented on #671
Click requires a the locale to be set to ``*.utf-8``.

I just read up on the **locale** docs and now understand that ``''`` means, it set to the user's default setting.

That being said, what is it that you would like to do?

[2016-04-10 20:21] lelit commented on #671
Simply that, either by default or with a related option, `cli.main()` execute that call to `locale.setlocale()`. Alternatively, that a new hook is created and executed _before_ cookiebutter computes the values contained in the JSON config.

[2016-04-11 21:17] hackebrot commented on #261
We made it 😂

Thanks @ewjoachim

[2016-04-11 23:12] ewjoachim commented on #261
Nothing else to say but :cake: \o/

[2016-04-14 19:14] econchick commented on #364
I'd also like to have this functionality. I'd like to be able to edit/add to the template context either as it's being processed (like how [template variables are accessible](http://cookiecutter.readthedocs.org/en/latest/advanced_usage.html#templates-in-context-values) within the `cookiecutter.json` file itself right after the user is prompted), or perhaps a hook before the project is generated.

[2016-04-15 03:06] willingc commented on #662
@hackebrot Thanks for all that you do for Cookiecutter. I was just sharing how it's a great learning tool for beginner developers looking to see good practices. Keep up the "awesome". :sunflower:

P.S. I may send you a PR or two prototyping a couple of different README ideas.

[2016-04-15 05:44] pydanny commented on #662
Imagine having the docs structure planned out before we start writing the actual documentation! Planning is a very good thing. I really like the listing of personas - that's a trick that I wish I had used before.

I certainly agree that listing templates in the docs isn't going to scale. Barely scales now! An index would be good. That said, as for a Cookiecutter index (a site that lists them), sev

[2016-04-15 10:22] hackebrot commented on #662
Thank you for your comment @willingc 😊 Means a lot! 🙇

[2016-04-15 10:28] hackebrot commented on #662
Treating docs as a "user-facing" product, like a mobile app or website, is something I've learned at WriteTheDocs. I'd like to organize our documentation based on these personas and offer different kinds of docs tailored to each of these user types, for example a template author already knows how to use Cookiecutter - why tell him again?

I've tried to follow this approach with [rtfd pytest-plugin

[2016-04-15 17:41] matheuspoleza opened #676 "Cannot add angular tags to html files"
## What happens:
Angular has DOM binds with `{{}}` tags. I have this html file:
![selection_388](https://cloud.githubusercontent.com/assets/8049914/14569949/26f88fc6-0318-11e6-93c4-bcc00ec92e17.png)

cookiecutter rise this error:
![selection_387](https://cloud.githubusercontent.com/assets/8049914/14569921/02135c72-0318-11e6-9c43-87e202861216.png)

## What should do:
- [ ] Just see to {{cookiecutte

[2016-04-15 17:49] luzfcb commented on #676
use Jinja2  `{% raw %}{% endraw %}` http://jinja.pocoo.org/docs/dev/templates/#escaping

[code]

[2016-04-15 17:51] #676 closed

[2016-04-15 17:51] matheuspoleza commented on #676
:+1:

[2016-04-17 18:03] willingc commented on #544
Links:
https://us.pycon.org/2016/sponsors/
https://github.com/PyCon/pycon/blob/develop/pycon/static/img/SVG/PyCon16-logo.svg

[2016-04-19 05:33] audreyr commented on #662
I really like the idea of different personas and docs for each type. The Django docs do this really well, and it's one of my favorite things.

👍  on updating and revisiting the docs in general.

Personally I like having the templates on the README. I think #674 is a good compromise here. I think it's nice to help and recognize template authors by having their templates earn a spot on the page, and

[2016-04-21 03:57] xesscorp opened #679 "insert .cookiecutterrc defaults even if they don't exist in cookiecutter.json"
`apply_overwrites_to_context()` in cookiecutter 1.4 will skip variables in the .cookiecutterrc file if there is not a matching variable in the cookiecutter.json file. I would prefer it if the .cookiecutterrc variables were always inserted into the active context. That way I can have my global defaults for my name, organization and such in one place instead of having them spread around in multiple

[2016-04-21 09:27] hackebrot commented on #679
Hi @xesscorp!

We've had a very similar discussion in #597 and I'm still struggling to fully grasp the use case tbh.

#### Undefined Variables

Imagine you are a new user of Cookiecutter and have not created a template yourself. You find a template on the list that looks like a good choice for what you have in mind for your new project. You answer the question, as explained on the README, however

[2016-04-21 11:52] xesscorp commented on #679
Thanks for the explanation. You're right, I had not considered the problem of sharing templates if some of the variables are only in a global file. I'll change my project cookiecutter.json files to explicitly mention the global defaults.

[2016-04-21 11:52] #679 closed

[2016-04-22 06:21] audreyr commented on #662
I was thinking of moving "Features" and "Similar projects" out of README and into separate pages. But I wasn't sure which category from @hackebrot's prototype they would make most sense being moved into. Any thoughts?

[2016-04-26 14:47] hjonasson opened #681 "Starting a project"
Hi all,

I am very excited about your project and hope to try it out. I installed it successfully with pip. I tried to both create a project on github and locally and neither worked.

Trying git gives

`subprocess.CalledProcessError: Command '[u'git', u'clone', u'https://github.com/hjonasson/cookiecutterglobal.git']' returned non-zero exit status 128`
(also tried without .git at the end which gave

[2016-04-26 16:49] pydanny commented on #681
https://github.com/hjonasson/cookiecutterglobal doesn't exist, hence why Cookiecutter is throwing an error. Create that repo, inclusive the right files, and it should work. :smile:

[2016-04-26 16:49] #681 closed

[2016-04-27 11:22] michaeljoseph commented on #681
@hjonasson You need to either choose an [existing cookiecutter](http://cookiecutter.readthedocs.org/en/latest/readme.html#available-cookiecutters) or [create your own](http://cookiecutter.readthedocs.org/en/latest/tutorials.html#create-your-very-own-cookiecutter).

[2016-04-27 11:34] borismod opened #683 "Only one directory copied by the cookiecutter"
I've created my own template for cookiecutter. It contains three directories with project_name:
Here is my repo:
https://github.com/QualiSystems/cookiecutter-shellpackage

![image](https://cloud.githubusercontent.com/assets/209971/14850929/f6fca3f4-0c84-11e6-8219-4c6eeff8974f.png)

after executing cookiecutter on the repository, it created only single folder:

![image](https://cloud.githubusercont

[2016-04-27 22:30] michaeljoseph commented on #683
Hi @borismod,

We only support having a single templated root directory in your cookiecutter template.
So you'd need to move your `{{cookiecutter.project_name}}_*` directories into a single root directory:
[code]

[2016-04-28 03:40] rsyring commented on #629
I'm not sure if this is the same issue, but I have had directories with content already in them completely disappear twice when using --overwrite-if-exists.  The last example:

[code]
After this happens, my `filebrowser-src` directory is completely wiped out.  I've been forced to restore from backups b/c I had local-only configuration files get deleted that I didn't want to have to recreate.

IMO,

[2016-04-28 05:41] nanuxbe opened #685 "Q: where to add Django+Ember CookieCutter"
Hello,

I'd like to make a PR with a couple cookiecutters I've made. One of them is for creating apps with Django and EmberJS (https://bitbucket.org/levit_scs/cc_django_ember_app) and I don't know in what section I should put it?
- Django
- JavaScript
- both
- a new section

And thanks for the great work!

[2016-04-28 06:49] audreyr commented on #685
That's a good question. I'd say either the Django or JS section...whichever one you pick is up to you.

[2016-04-28 08:01] nanuxbe commented on #685
Thanks

[2016-04-28 08:01] #685 closed

[2016-04-28 12:19] michaeljoseph commented on #629
@rsyring I don't think that the `rmtree` in `generate. _run_hook_from_repo_dir` is the culprit in your scenario.  The code is raising `jinja2.exceptions.UndefinedError`, so the problem looks to be here:
https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/generate.py#L352.
Introduced in #598.

[2016-04-29 20:48] pydanny opened #691 "Use implicit codecov version?"
Cookiecutter uses @codecov to check and publish our coverage numbers. Right now we specify the version, which is fine. However, as it is not included in Cookiecutter's requirements, but as part of our test harness, it may be more expedient to define it without a version number. That way the @codecov team (@stevepeak, et al) can make changes to their API and client, and Cookiecutter just keeps movi

[2016-05-01 19:32] stevepeak commented on #691
Thanks @pydanny for brining up this discussion. I'll be happy to answer any questions that come up.

We did just deploy our new release and had couple bugs in the uploader that we solved. We will continue to improve the python uploader and add new features and improvements. Which is an advantage. Clearly the disadvantage is issues like this, though solved within 24 hours like they typically are.

[2016-05-02 13:15] #389 closed

[2016-05-02 14:56] michaeljoseph commented on #691
I'm 👍  on removing versions from _all_ our development dependencies.
I think the value of spotting issues and contributing to upstream bugs/issues outweighs the inconvenience of builds sometimes failing...

[2016-05-02 20:03] hackebrot commented on #691
I believe almost all of our problems with CI resulted either from GitHub downtimes (caused by DDoS) or YAML. Either of these issues can be identified fairly quickly. 😁

So I'm 👍 on not pinning test requirements.

On a side note: Great work @stevepeak and team! Amazed by how fast you've rolled out a bugfix version after I posted on twitter.

[2016-05-04 06:56] #691 closed

[2016-05-07 11:39] cameron707 opened #699 "Date format"
It's not at all obvious as to the format of the date when running a cookiecutter and setting it up.

Eg: 2016-2-1 doesn't indicate in which position the month and day are. It would be more helpful for the user to give a default value more like 2016-1-31 which would make it obvious, or better still it would be more idiot-proof if the format was displayed regardless of how the author decides to crea

[2016-05-07 12:46] hackebrot commented on #699
Hey @cameron707! 👋

Are you sure you are in the right issue tracker? Cookiecutter itself doesn't create any dates by itself. There is support for dates in templates via [jinja2-time](https://github.com/hackebrot/jinja2-time), but it's up to the template author to make use of it and the format for date and times is fully configurable.

If you could provide us with a little bit more information on w

[2016-05-08 13:05] cameron707 commented on #699
Well I'm very new to all of this and the few cookiecutters that I've seen have not been clear on what the date format is. Perhaps it's common knowledge in the django community as to what format the date is normally in, I don't know. I just thought I'd offer my perspective from someone that's just starting. Since the design principle is in essence to make life easier it would make a lot of sense to

[2016-05-08 15:31] michaeljoseph commented on #699
@cameron707, as @hackebrot said, we don't really have the ability to intercept and enforce formatting on `datetime` fields, so I'd suggest filing an issue with the cookiecutter template you're using and either:
- request an unambigous default for their `datetime` field
- ask them to use [jinja2-time](https://github.com/hackebrot/jinja2-time) (since the most common use-case of `datetime` fields is

[2016-05-08 15:31] #699 closed

[2016-05-09 20:30] rsyring commented on #629
@michaeljoseph interesting...I made the following adjustment to cookiecutter locally and thought that this fixed the bug: https://github.com/rsyring/cookiecutter/commit/a14570c5c36400f441a377622ef8f6aa1ab35234

But I can revisit.

[2016-05-09 22:17] hackebrot commented on #629
The error message reads

[code]

Cookiecutter can't find a variable named ``python_tox`` in the context and exits gracefully by cleaning up the directory it was supposed to generate to. At this point this is implemented using a ``rmtree`` rather than removing each file and directory that has been created. Changing this may go hand in hand with #633.

[2016-05-11 20:59] mrburrito commented on #679
Here's a use case for loading the global variables in .cookiecutterrc that don't appear in cookiecutter.json.

I'm configuring a template for internal use that will, if requested, create the project in our internal GitLab. This requires the user's GitLab API Token. I want them to be able to include that in the `default_context` section without being prompted for it and, more importantly, without t

[2016-05-11 23:28] hackebrot commented on #679
Hi @mrburrito 👋

Any variable with a leading underscore ``_`` will not be prompted to the user.

Add ``"_gitlab_token": null`` to **cookiecutter.json**. Then add a sensible value in ``default_context`` to **.cookiecutterrc** and you should be fine w/o workarounds.

Hope this helps!

[2016-05-14 11:20] #683 closed

[2016-05-16 07:56] eromoe opened #703 "cookiecutter.exceptions.VCSNotInstalled: 'git' is not installed."
env:
win 8.1 x64
python 2.7 x86
git-bash

I got this when running:(same error on git-bash/cmd)
[code]

[2016-05-16 12:02] michaeljoseph commented on #703
Hi @eromoe, are you able to run `git` from your command-line? You sounds like you don't have the `git` executable in your `$PATH`?

[2016-05-17 02:01] eromoe commented on #703
I can run git from cmd and it is in my `$PATH`, even `git-bash(mingw64)` can not execute `cookiecutter https://github.com/sloria/cookiecutter-flask`.
I have to `git clone https://github.com/sloria/cookiecutter-flask`  then `cookiecutter  cookiecutter-flask`

[2016-05-17 04:17] pydanny commented on #703
@eromoe, this is possibly an issue with Whichcraft, the library that powers the check your Windows machine is failing (https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/vcs.py#L74-L80). Is it possible for you to clone Whichcraft locally and run its tests?

If the tests fail, then it's something we can deal with in Whichcraft directly.

See https://github.com/pydanny/whichcraft

[2016-05-19 03:06] eromoe commented on #703
E:\Project\whichcraft>python test_whichcraft.py
============================= test session starts =============================
platform win32 -- Python 2.7.10, pytest-2.9.1, py-1.4.31, pluggy-0.3.1
rootdir: E:\Project\whichcraft, inifile:
plugins: cov-2.2.1
collected 2 items

test_whichcraft.py F.

================================== FAILURES ===================================
___________________

[2016-05-20 11:42] michaeljoseph commented on #703
@eromoe, could you please raise this issue in the [whichcraft](https://github.com/pydanny/whichcraft) project?
Thanks for the investigation :)

[2016-05-20 11:42] #703 closed

[2016-05-20 11:50] eromoe commented on #703
OK :)

[2016-05-20 12:04] avanderm opened #704 "Jinja2 environment settings"
Would it be possible to pass arguments to the underlying Jinja2 environment? I would like to activate the `lstrip_blocks` setting in the Jinja2 environment for more convenient whitespace trimming around code blocks. More about the Jinja API here: [Jinja2 API](http://jinja.pocoo.org/docs/dev/api/)

[2016-05-20 13:58] luzfcb commented on #704
`{%- -%}` or `{%- %}` or `{% -%}` does not work?

from http://jinja.pocoo.org/docs/dev/templates/#whitespace-control

[2016-05-20 14:32] avanderm commented on #704
Yes, that's what I use at the moment. I do wonder if there's way to pass arguments to the underlying Jinja2 environment in case of other desired behaviour. Also: fixed my link.

[2016-05-20 15:39] bollwyvl commented on #232
## tl:dr;  cookiecutter is now installable via conda:

[code]

Hi, folks! I have been dinking around with `cookiecutter` for some time... great stuff :heart:!

Over on [project jupyter](https://jupyter.org), we're trying to raise our game for developers of extensions: since these almost always require Node Stuff, we'll probably also be working some `yeoman` stuff, but `cookiecutter` is a natural f

[2016-05-20 17:48] pydanny commented on #232
@bollwyvl Awesome work! At some point hopefully in the next week let's try and get Cookiecutter to pass on Windows.

In the meantime, I'm closing this issue.

[2016-05-20 17:48] #232 closed

[2016-05-20 18:58] bollwyvl commented on #232
Thanks! I agree re: windows! Thanks for stepping up on https://github.com/conda-forge/cookiecutter-feedstock/pull/1!

[2016-05-30 14:38] rivol opened #706 "Hooks don't have access to the original template directory"
I'm trying to include a configuration summary with the generated projects. The summary would be a JSON file, dumped by `post_gen_project` hook, which would include the cookiecutter context that was used to create the project (same as the files used by `--replay` functionality).

But I'd also like the config summary to include the revision (commit hash) of the used cookiecutter template. This is us

[2016-05-30 16:04] eviweb commented on #706
Hi @rivol,
this PR #694 resolves this issue by passing the cookiecutter context serialized in JSON to hooks through the stdin stream.
It also provides an option to run real hooks in place, instead of creating temporary copies.
Please have a look and feel free to give your feedack.

best regards

Eric

[2016-06-02 01:09] pydanny opened #707 "Add Python 3.6 support"
* Cookiecutter version: Current
* Python version: 3.6
* Operating System: All

### Description:

Add Python 3.6 alpha into continuous integration.

[2016-06-02 01:36] pydanny commented on #544
While we didn't put it in our README before the event, we can do it during the event!

[2016-06-02 01:42] pydanny opened #708 "Implement case study .rst file for organizations"
Meta:
- Instructions need to be provided in `case_studies.rst` on how to submit a case study to this page.

Each entry needs the following:
- Name of organization
- URL
- 3-5 sentences describing how the organization uses Cookiecutter

[2016-06-02 01:43] pydanny commented on #474
Closing this as it can be done in both the `pre_generate` and `post_generate` hooks.

[2016-06-02 01:43] #474 closed

[2016-06-02 01:46] pydanny commented on #10
Fixed long ago.

[2016-06-02 01:46] #10 closed

[2016-06-02 07:12] pydanny opened #709 "Catch up on missing historical items"
- Cookiecutter version: Master
### Description:

There have been a few times in the past few months when pull requests were merged in that they were not tracked in https://github.com/audreyr/cookiecutter/blob/master/HISTORY.rst. It would be good if someone could go through the commit list and ensure that everything there matches the history.

[2016-06-02 07:13] pydanny opened #710 "Update the advanced usage"
There are lots of tricks and techniques in various cookiecutter templates that could be featured in https://github.com/cookiecutter/cookiecutter/blob/main/docs/advanced/index.rst

[2016-06-02 15:56] pydanny opened #711 "Properly link to cookiecutter-data-science"
This link goes to http://drivendata.github.io/cookiecutter-data-science/ instead of https://github.com/drivendata/cookiecutter-data-science. Included with this correction should be a link to http://drivendata.github.io/cookiecutter-data-science/ in the project's description

[2016-06-02 16:35] tephyr commented on #711
Working on this one.

[2016-06-02 18:20] TylerLubeck opened #712 "Type Annotations with mypy"
- Cookiecutter version: 1.4.0
- Template project url: n/a
- Python version: 3.5
- Operating System: OSX
### Description:

This is a working ticket to try out type annotations at the Pycon 2016 sprints

[2016-06-02 18:42] purplediane commented on #544
I'll work on this today.

[2016-06-02 20:59] suledev opened #717 "ASCII Encoding Assertion Error"
* Cookiecutter version: current
* Python version: 3.4.3
* Operating System: OSX

### Description:

Trying to run the test suite, ran into an issue with the test_cli.py  and test_cookiecutter_invocation.py scripts. Error produced in a VM with python 3.4.3.

### What I've run:

[code]

Those weren't the only messages but the rest are more of the same, Assertion Error to do with ASCII encoding.

[2016-06-02 21:02] hackebrot commented on #717
Hi @suledev! 👋

Can you please make sure that the environment variables are set according to the [click docs](http://click.pocoo.org/5/python3/#python-3-surrogate-handling)?

[2016-06-02 21:13] suledev commented on #717
Okay Thanks that was the error.

[2016-06-02 21:13] #717 closed

[2016-06-02 21:32] hackebrot commented on #717
Np 😸

[2016-06-02 21:46] #711 closed

[2016-06-02 22:07] willingc opened #719 "Recognize all contributors to cookiecutter at sprints"
### Description:

Contributions at sprints span more than just GitHub commits. It takes many talents coming together to make a successful sprints. To recognize all of the individuals that contribute and do tasks like user testing, pairing, teaching, and more, add a document to the sphinx docs. Concept approved by @audreyr.

[2016-06-02 22:09] phoebebauer commented on #719
I am working on this!

[2016-06-02 22:10] hackebrot commented on #719
I've started to move my projects to **CONTRIBUTORS** rather than **AUTHORS** and try to also give credit for people who raise issues with valuable input. I definitely 👍 on this!

[2016-06-03 13:31] glenfant commented on #127
Got a use case where I need a `__main__.py` if there's a console_script entry point in `setup.py`. Otherwise (pure lib) I don't need such file.

[2016-06-03 15:28] willingc opened #721 "Consider splitting features of cookiecutter in README"
After talking with folks at PyCon and the sprints, some folks just wish to consume cookiecutter templates while others have the interest in creating templates.

It might be helpful to break the features into two subsections.

[2016-06-03 15:38] willingc opened #722 "[doc] Correct typo in "Works directly with git and mercurial" doc section"
In [Works directly with git and mercurial doc](http://cookiecutter.readthedocs.io/en/latest/usage.html#works-directly-with-git-and-hg-mercurial-repos-too), there is a missing paren in the third paragraph.

[2016-06-03 16:24] willingc commented on #721
[readme-checklist presented at WriteTheDocs](https://github.com/ddbeck/readme-checklist)

[2016-06-03 17:06] pydanny commented on #127
This can be done in post-generate hooks as seen in https://github.com/pydanny/cookiecutter-django/blob/master/hooks/post_gen_project.py#L163-L165. This makes this issue more an education issue then a technical solution. This is good because making logic work in directory/file names on Windows is impossible (and we support Windows).

Therefore, I believe this is better done as a recipe described in

[2016-06-03 17:06] #127 closed

[2016-06-03 17:09] pydanny opened #723 "Document how to do conditional files/directories"
In the [advanced_usage.rst](https://github.com/audreyr/cookiecutter/blob/master/docs/advanced_usage.rst) document we should document the following techniques:

1. By default have all the files, then use https://github.com/pydanny/cookiecutter-django/blob/master/hooks/post_gen_project.py#L163-L165 to remove those things not needed. (works everywhere)
2. Use logic in directory names to set whether o

[2016-06-03 19:04] #719 closed

[2016-06-03 20:41] luzfcb commented on #707
possible solution: https://github.com/audreyr/cookiecutter/pull/728#issuecomment-223681704

[2016-06-03 21:44] jcarbaugh commented on #632
I'm taking a look at this now.

[2016-06-03 22:19] GrahamDumpleton commented on #249
This is a brain dump exploring one suggestion on how to move forward with this. It may not coherent or even sensible. :-)

My suggestion is that in the first instance you not try and extend cookiecutter to add support for some alternate or extended file format, but to enhance cookiecutter to call a user supplied hook function to generate the dictionary of final key/value pairs. This hook function

[2016-06-04 00:33] purplediane commented on #544
We can't figure out how to get the logo to display, but at least the verbiage is there.

[2016-06-04 16:58] audreyr commented on #429
Some thoughts:
* I would call it something like `--hook-verbosity` since it might be good to reserve `--hooks` in case we need to pass in actual hook files or URLs or whatever in the future
* I really like `ask` and `trusted`
* I'm conflicted about `skip`. I could see that it may leave the project broken. I could also see some people using it if they want to look at the hook source and do the trus

[2016-06-04 17:13] BruceEckel opened #731 "Bump the copyright date at the bottom of the ReadTheDocs pages"

[2016-06-04 17:37] BruceEckel opened #732 "Tutorials issues"
Here: https://cookiecutter.readthedocs.io/en/latest/tutorials.html
Under the subhead:
### Create Your Very Own Cookiecutter
* Audrey's tutorial "Create a Cookiecutter From Scratch" stops after creating some directories and says "To be continued..." (Also says "Create a directory called {{ cookiecutter.repo_name }}" which might be out of date).
* Danny's article seems out of date and isn't really a

[2016-06-04 18:03] BruceEckel opened #733 "Possible solution for documentation re Windows"
Windows 10 will be adding a fully-integrated Linux shell (from Ubuntu) this summer, which solves that problem (and that may be enough if you're OK saying to use Windows 10).

For those who don't have that, don't want to enable it, or are using an earlier version of Windows:
- http://unxutils.sourceforge.net/ (almost all Unix commands, but they run under the normal windows Command window)

Once tha

[2016-06-04 18:32] ivanlyon commented on #544
Using these 3 lines in the README.rst works for me (Indentation matters like Python, but I was unable to find a way to prevent the site from removing all leading whitespace hence the appearance of _4-spaces-indentation_):

----

`.. image:: https://raw.githubusercontent.com/PyCon/pycon/develop/pycon/static/img/PNG/PyCon16-logo.png`
_4-spaces-indentation_`:height: 128px`
_4-spaces-indentation_`:ali

[2016-06-04 21:21] jhermann commented on #429
`abort` was intended to stop the template before it actually writes anything to disk (i.e. "I want no hookish templates"). It's the opposite of `trusted`.

Given that skip is indeed often (but no guaranteed) a problem, another wording would be `--accept-hooks=yes|ask|no`.

[2016-06-04 23:19] purplediane commented on #544
That works, but unfortunately it looks bad since the logo has transparent background. Mountain looks like the screen is dirty. :-(

[2016-06-04 23:23] audreyr commented on #429
I think `--accept-hooks=yes|ask|no` is the clearest.

[2016-06-05 00:27] ivanlyon commented on #63
Debian instructions for latest debian packages posted to docs/installation.rst

I noticed no different usage, but I am a new user and have not explored performance in depth.

[2016-06-05 00:51] audreyr commented on #272
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or reopen this issue. Thanks! 👋

[2016-06-05 00:51] #272 closed

[2016-06-05 19:50] #722 closed

[2016-06-05 20:35] audreyr commented on #732
Yesterday @BruceEckel wrote https://github.com/BruceEckel/HelloCookieCutter1 which I'd like to turn into the official Cookiecutter tutorial. We've needed a minimal tutorial for a long time, and I think this is perfect.

The next step is to integrate https://github.com/BruceEckel/HelloCookieCutter1 into the Cookiecutter docs. This will require some thought about the best way to do this. Some TODOs:

[2016-06-05 20:46] dot2dotseurat commented on #732
Working on this :)

[2016-06-05 20:53] hackebrot commented on #732
Great work @BruceEckel! 👍

@audreyr I'm 👎 for git submodules - it makes things overly complicated. Prefer the other options 😄

[2016-06-06 01:25] pydanny commented on #381
What if we allowed our JSON to have '#' comments and stripped them before we loaded cookiecutter.json into Python?

[2016-06-06 01:28] audreyr opened #741 "Rename copy_without_render()"
Since `copy_without_render()` no longer performs any actual copying, it should be renamed:

[code]

[2016-06-06 01:29] pydanny commented on #409
Neat idea but I'm closing this issue because:

1. This changes some of the concepts of this project, that it is language, tool, framework agnostic in its output.
2. Having a `src` directory is very opinionated. More opinionated then Cookiecutter's pattern.
3. Inheritance would add complexity to the project, something we strive against.

All this said, it's a fascinating idea. More like this please

[2016-06-06 01:29] #409 closed

[2016-06-06 01:36] audreyr commented on #732
Thanks for the feedback @hackebrot!

Decided to stick with using a git submodule because it eases the burden of maintenance to have less in core, and because @BruceEckel offered to update the tutorial if any issues come up.

@BruceEckel if you ever decide in the future that you don't want to maintain it anymore, let us know and we can bring the tutorial into core.

[2016-06-06 01:36] #732 closed

[2016-06-06 01:42] audreyr opened #742 "Run pep257 on each file to improve docstrings"
How to do this:
1. `pip install pep257`
2. Run it on a single file to see what needs to be improved: `pep257 cookiecutter/generate.py`
3. Fix as much as you can in the file. Whatever you can't fix, don't worry about fixing.
4. Submit a pull request (1 file per pull request for pep257 fixes, please)

[2016-06-06 02:07] pydanny opened #743 "Remove YAML as a supported format"
# Justification

Cookiecutter uses YAML for parsing the `.cookiecutterrc` config file. Otherwise, the library relies on JSON for configuration (and anything that runs as a hook). This means it affects a tiny portion of the project, but it has caused an a number of issues for the project:
- pyYAML doesn't work everywhere
- Ruamel.YAML doesn't work everywhere
- Poyo works everywhere, but the Debian

[2016-06-06 02:13] audreyr commented on #743
I use `.cookiecutterrc`, @pydanny 😜

We can just print an error message when a YAML `.cookiecutterrc` is found. Then they can update their config to .ini or whatever new config format we support for it.

[2016-06-06 02:14] pydanny commented on #249
On YAML as a format, see #743

[2016-06-06 02:15] audreyr opened #744 "Split docs/advanced_usage.rst into several files"
* Move each section from advanced_usage.rst into its own .rst file.
* Add each .rst file to docs/index.rst
* Build the docs locally to ensure that every doc shows up properly

[2016-06-06 02:16] pydanny commented on #569
Removing YAML from the project will fix a lot of problems. See #743

[2016-06-06 02:22] pydanny commented on #743
Okay, besides @audreyr I've never seen anyone else use this feature. I think switching it to JSON is fine.

[2016-06-06 02:31] audreyr commented on #733
If someone could integrate this into the docs, that would be a big help 👍

[2016-06-06 09:06] vaab commented on #743
My 2 cents. Thanks for sharing your decisions first. A little sorry to see what I consider a bad choice to be taken, but this is a choice. And this is better than keeping dangling PR without any explanation for years.

I would have been happier if this thread would have summarized or linked the actual problems that you have faced. I had to google the problem with debian to get more information abo

[2016-06-06 10:11] vaab commented on #381
For my own interests, could you provide a link to troubles you had with YAML ? (I figured it was more related to PyYAML installation via python packaging system ?)

Gitlab, travis, docker-compose, juju charms ... are well-known project I use that make usage of YAML as config file, ``cookiecutter`` is the only project I ever met using JSON as config file, and I was bitten by its non-human "features

[2016-06-06 11:47] willingc commented on #743
@pydanny clearly explains the decision to remove YAML support. A [quick search of GitHub](https://github.com/search?q=.cookiecutterrc&ref=searchresults&type=Code&utf8=%E2%9C%93) shows that use of YAML in ``.cookiecutterrc`` is tiny.

Thanks for choosing a technical direction that works without manual intervention by template users to address operating system nuances. 👍

[2016-06-06 11:50] vaab commented on #409
I don't have the feeling that you've even read/understood my proposition as 2 of your remarks does not seem to even apply to my proposition (1. - care to be more specific ? and 2. - making a point about the name of this directory is not pertinent, this is an internal convention and does not impose anything in the resulting project generated by cookiecutter). Only point 3 could apply but is a very

[2016-06-06 12:43] pydanny commented on #743
Hey @vaab, I'm at the airport, so here are some quick notes (some which reinforce what you suggest):

* https://github.com/audreyr/cookiecutter/issues?q=is%3Aissue+yaml+is%3Aclosed displays several reference tickets to the YAML issue.
* The problem has arguably nothing to do with Python, but rather the portability of C code written for PyYAML and Ruamel.YAML. If those libraries can't write and mai

[2016-06-06 12:52] vincentbernat commented on #743
I am perfectly OK with patching Cookiecutter for Debian. The patch is quite small and it is less work for me than maintaining another YAML library. However, you (upstream) may feel uncomfortable with having Cookiecutter patched this way.

[2016-06-06 12:58] pydanny commented on #743
@vincentbernat We would rather have the same library everywhere, as that makes diagnosing issues reported by users easier for us. Plus, less work for you! 😁

[2016-06-06 13:08] pydanny commented on #743
Here's a super-simple script showing how to override the defaults using Cookiecutter:

[code]

Adding in YAML support might be something like this:

[code]

Or... you could just write a script using bash that passes in `extra_context` as an argument. There are so many ways to add in your own YAML support.

[2016-06-06 13:10] vaab commented on #743
@pydanny: thanks for the technical details and information, I think they have their place in this thread for curious and technical people.

Your quick URL listing issues might have been a little quickly done: I have only found 1 issue related to this topic (number #557). This issue is somewhat informative: it is about replacing pyyaml with ruamel, and that PyYAML is thought to be not maintained an

[2016-06-07 00:05] hackebrot commented on #743
@willingc I’m afraid a search on GitHub is not representative for how many users actually use cookiecutterrc, since it lives in a user’s home directory and is not necessarily referred to from code outside of cookiecutter itself

@pydanny Thank you. 🙇

I also use the feature and do think some form of it should be kept. I find it really handy - mostly for the default context variable.

How to config

[2016-06-07 07:00] vincentbernat commented on #743
I understand why Poyo exists. However, in Debian, I have to package separately each dependency. So, I have to package Poyo while we already have two perfectly working and complete YAML parser. There is no installation problems for us with them as we provide working packages for them.

Packages are screened before inclusion in Debian and adding a third Python package that only parses a subset of YA

[2016-06-07 07:01] eliasdorneles commented on #629
Would it make sense to handle this case making the overwrite in a secondary step (i.e., writing into a temp dir first, before overwriting to destination)?
This would be simpler than tracking every file that was created.

Another idea would be to prompt for confirmation before deleting when the directory already existed before.

[2016-06-07 08:03] vaab commented on #743
@hackebrot thanks for the collection of issues.

- #569 is about python-dev required, which is required for any python package having C dependencies... Did you really intend to includ this for a motivation of removal of PyYAML ?
- #558 is not super informative, I only can infer that something doesn't work on windows 7 and python 3.5, only. Is this the issue that triggered all your reflexions about

[2016-06-07 12:10] rsyring commented on #629
writing to a temp directory and then copying to the new location does seem like it might be a good idea but outside the scope of this issue IMO as it would be a larger architectural decision IMO.

Promoting to delete IMO doesn't win much.  If the directory existed, it seems better to me to simply leave it alone and alert the user to the fact that a partial update occurred.  Let them deal with it.

[2016-06-07 15:53] pydanny commented on #743
@vaab, this is your first and last warning about [Code of Conduct](https://github.com/audreyr/cookiecutter#code-of-conduct) violations against regular contributors to Cookiecutter. The item of the Code of Conduct you are specifically violating is:

* [Trolling or insulting/derogatory comments](https://www.pypa.io/en/latest/code-of-conduct/#contributor-code-of-conduct)

A sample of your insulting/d

[2016-06-07 16:12] pydanny commented on #743
@vincentbernat The use of YAML in Cookiecutter is incredibly minor, and used merely for configuration of a single file. Using `configparser` would serve the same purpose, and would drop the package size of Cookiecutter immensely since it would work off assuredly cross-compliant stdlb Python code.

Therefore, after all this discussion I've decided that even if PyYAML were patched (the maintainer ha

[2016-06-07 21:14] vaab commented on #743
@pydanny I acknowledge hereby your warning, and decide as a consequence to remove myself of this discussion.
I apologize to any people offended by my remarks or behavior.
I understand that I won't be able to help you in anyway here in the current environment.
I wish this project the very best. Kudos for the developpers of this package that I'll be continuing to use from afar.
And sorry for the spa

[2016-06-07 21:30] zzzirk commented on #744
Is there any preference as to filesystem layout or naming of these new files?

[2016-06-07 21:32] audreyr commented on #731
Fixed in #747. Thanks for reporting this, @BruceEckel.

[2016-06-07 21:32] #731 closed

[2016-06-07 21:35] audreyr commented on #744
No preferences, just do what you think makes the most sense. We can always change names later if needed.

I could see them either going directly into docs/ or into docs/advanced_usage/, but again no real preference here.

[2016-06-07 21:45] audreyr opened #748 "Explore using Effect"
During the sprints, @lvh and @glyph suggested that we consider using [Effect](https://effect.readthedocs.io) as a way to make the code more purely functional by isolating side effects.

If someone with functional programming experience could explore modifying a small portion of the Cookiecutter codebase to use Effect, that would be great. This involves:

* Learning how Effect works
* Modifying par

[2016-06-07 23:11] radix commented on #748
I'd be happy to review Effect-using code :) Please ping me in whatever PR introduces it.

[2016-06-07 23:12] hackebrot commented on #748
Sorry, I'm tired and probably shouldn't comment...BUT I'm curious..

@radix Has this been tested with tox/pytest? 😁

[2016-06-07 23:19] radix commented on #748
Also, my general advice when it comes to Effect is to try *not* using it, while still trying to write purely functional code. You might be happy without it, but if you do need it, it will become clear where you do need it when you try.

[2016-06-08 00:16] radix commented on #748
@hackebrot Sorry, I don't follow. What are you referring to? The Effect library? It has quite thorough test coverage and uses the py.test library.

[2016-06-08 06:44] TylerLubeck opened #750 "Follow up on MyPy 0.4.2"
See here: https://github.com/audreyr/cookiecutter/pull/713#issuecomment-223777596

Related to #713  and #712

[2016-06-09 16:27] hackebrot opened #752 "Bug for replay feature from pwd"
Running the following command inside of a template repo:

``$ cookiecutter -o tmp .``

Will cause ``replay.dump`` to files like this:

``~/.cookiecutter_replay/..json``

Identified by @eliasdorneles

[2016-06-09 16:36] hackebrot commented on #752
Working on a bugfix.

[2016-06-09 22:57] mjscosta commented on #429
Hi, adding the options above are nice, but if you do not trust a template, you should execute it under controlled environment. And take a look at it (hooks), beforehand.

I've searched, for this issue, and came across https://firejail.wordpress.com/,https://l3net.wordpress.com/2015/09/21/firejail-a-security-sandbox-for-mozilla-firefox-part-3/, firejail.

You, can restrict directories access (via w

[2016-06-11 13:07] michaeljoseph commented on #742
This is now [pydocstyle](https://github.com/PyCQA/pydocstyle).
Once we have clean docstrings, I'd suggest adding flake8 support for this via https://gitlab.com/pycqa/flake8-docstrings.

[2016-06-11 18:31] DeveloperMal commented on #430
:+1: for cookiecutters. I think just using the word cookies doesn't fit the context of what the application does.

[2016-06-13 17:37] michaeljoseph commented on #744
Closed via #749.

[2016-06-13 17:37] #744 closed

[2016-06-13 19:10] kappataumu opened #755 "Injecting extra context from the CLI fails (--no-input)"
* Cookiecutter version: Cookiecutter 1.4.0
* Template project url: https://github.com/msabramo/cookiecutter-supervisor
* Python version: 3.5.1
* Operating System: Ubuntu 14.04

### Description:

Injecting extra context from the CLI (when using `--no-input`) doesn't work (while `--no-input` on its own is fine). The error comes from [click](https://github.com/pallets/click), but I'm not sure if it i

[2016-06-13 19:17] hackebrot commented on #755
Hi @kappataumu! 👋

Cookiecutter 1.4.0 does not support extra context via CLI. It is planned to go live with [version 1.5.0](https://github.com/audreyr/cookiecutter/blob/master/HISTORY.rst#150-2016-04-20-).

You can install the development version via the following command (I recommend using a virtual environment for this):

``pip install git+https://github.com/audreyr/cookiecutter.git@master``

Ho

[2016-06-13 19:36] kappataumu commented on #755
Sure does! Working great in 1.5.0, thanks.

[2016-06-13 19:36] #755 closed

[2016-06-13 19:39] hackebrot commented on #755
You're most welcome! 🙇

[2016-06-13 20:41] michaeljoseph commented on #707
Fixed in #728.

[2016-06-13 20:41] #707 closed

[2016-06-15 19:38] #752 closed

[2016-06-18 12:51] michaeljoseph commented on #704
@avanderm, you could write

[2016-06-18 19:56] pydanny commented on #704
Are there any other use cases for accessing the Cookiecutter Jinja2 Environment? For reference, @avanderm's use case can be addressed with template extensions. If there isn't then I'll go ahead and close this issue.

[2016-06-20 16:40] hackebrot commented on #704
It's worth noting that we use more than one environment during project generation. They use slightly different settings.

See **generate.py** and **prompt.py**.

[2016-06-21 19:37] michaeljoseph commented on #276
Fixed by #701.

[2016-06-21 19:37] #276 closed

[2016-06-22 17:55] brianrusso commented on #385
This happened to me on a brand-new cookiecutter install.

E.g.

[code]

[2016-06-23 22:28] hackebrot commented on #569
This issue has been resolved in version 1.4.0 by switching to [poyo](https://github.com/hackebrot/poyo).

[2016-06-23 22:28] #569 closed

[2016-06-27 14:00] amPerl opened #767 "Wrong hook executed when a tilde-suffixed file of the same name exists"
* Cookiecutter version: 1.4.0
* Template project url: https://github.com/thorgate/django-project-template
* Python version: 3.4
* Operating System: Ubuntu 15.10 wily

### Description:

When using gedit or some other text editor that pollutes the directory with backup files ending with a tilde, cookiecutter mistakes that for the "real" hook it should run. This resulted in cookiecutter running a rid

[2016-06-27 14:18] pfmoore commented on #767
The problem is that cookiecutter treats any file with a basename of ```pre_gen_project``` as a hook. If it has extension ```.py``` it runs it via Python, but otherwise it just lets the OS run it. This allows for Windows to use hooks with extensions ```.bat```, ```.cmd```, ```.ps1```, etc, as well as letting Unix users add extensions like ```.sh```, or ```.rb``` (with a suitable shebang).

It's har

[2016-06-27 16:04] amPerl commented on #767
That's what I also thought should be done. I also forked and wrote a quick patch for it, but I read the PR guide and apparently you need tests and whatnot, which I currently don't have the time to write.

[2016-06-27 19:18] hackebrot commented on #767
Hi @amPerl, thanks for submitting an issue! 🙇

If you need help on how to write tests for Cookiecutter, let me know. Not sure what "whatnot" is supposed to mean. 😉

Please review #768.

[2016-06-27 20:31] michaeljoseph opened #769 "Simplify cookiecutter.hooks.find_hooks"
We should rename `cookiecutter.hooks.find_hooks` to `find_hook(hook_name)` and explicitly look for the requested hook, instead of processing all the files in the hooks directory.

See https://github.com/audreyr/cookiecutter/pull/768/files/9a94484093ca23e9d55d42a53f096f67535b0b63#r68646614

[2016-06-27 21:08] #767 closed

[2016-06-27 22:59] amPerl commented on #767
Awesome! Thanks for the swift fix.

[2016-06-30 00:50] jamesbassett commented on #723
Yeah I needed this a while ago, and came up with an approach similar to 1:

- feature flags (choice) in `cookiecutter.json`
- templated `manifest.yml` file that lists all the files that should be removed if a feature is disabled
- post hook to read manifest and delete relevant files

`cookiecutter.json`
[code]

`manifest.yml` (templated file in cookiecutter)
[code]

`post_gen_project.py`
[code]

[2016-07-01 01:35] mrteera opened #771 "UnicodeDecodeError after follow your-first-cookiecutter instructions"
* Cookiecutter version: 1.4.0
* Template project url: -
* Python version: 2.7.12 and 3.5.2
* Operating System: OS X

### Description:

I was follow: https://cookiecutter.readthedocs.io/en/latest/first_steps.html#your-first-cookiecutter
A new directory created successfully but it produces errors like below. I think maybe it's about [Python version](https://docs.python.org/2/howto/unicode.html)?
I t

[2016-07-08 21:24] shultz opened #775 "Single quotes not escaped"
* Cookiecutter version: Cookiecutter 1.4.0
* Template project url: https://github.com/pydanny/cookiecutter-django
* Python version: Python 3.4.3
* Operating System: Linux Mint 17.3

### Description:

Using a single quote (apostrophe) leads to a syntax error. Example is using cookiecutter-django with an apostrophe in the description field. It does not appear to be an issue with the template itself

[2016-07-08 23:12] hackebrot commented on #775
Hi @shultz! 👋

Thank you for opening an issue here. I can reproduce the issue causing a ``SyntaxError`` in the ``post_gen_project.py`` script for **cookiecutter-django**.

I'm not sure if it's a template's responsibility to take care of this or cookiecutter itself. That being said, a template could use a jinja2 filter to replace quotes in user input or we could escape by default, which might pose

[2016-07-09 06:22] freakboy3742 opened #776 "Unhelpful error if template branch is specified incorrectly"
* Cookiecutter version: 1.4.0
* Template project url: https://github.com/pybee/Python-Android-template
* Python version: 2.7
* Operating System: macOS

### Description:

If you specify a template project URL that exists, but a branch that does *not* exist, the `git clone` command fails, raising an exception.

This is entirely expected. However, the error message that is raised isn't especially hel

[2016-07-11 15:34] hackebrot commented on #776
Thank you @freakboy3742 for reporting this! 🙇

[2016-07-12 17:21] staranjeet commented on #742
@audreyr @michaeljoseph : Submitted a PR #779  for this

[2016-07-18 16:46] tonytvo commented on #771
I experienced the same problem on python2.7.11, do we have any office way to get around this issue currently? or when you guys can look into this issues?

much appreciated.
Cheers,
Tony

[2016-07-19 09:59] derekriemer opened #783 ""Dict object has no attribute 'add"'"
Hi,
* Cookiecutter version: 1.4.0
* Template project url: Not on github yet, zip archive available https://files.derekriemer.com/addonTemplate.zip
* Python version: 2.7.11
* Operating System: Windows 10

### Description:
I created the above template. Background: this is to help automate the addonTemplate for the NVDA Screen reader projects add-on community. I got as far as creating subdirectorys f

[2016-07-19 12:49] #776 closed

[2016-07-19 18:53] michaeljoseph commented on #783
Hi @derekriemer,

`addon\globalPlugins\{{cookiecutter.addonName}}\__init__.py` references a variable called `add`:
[code]

Presumably, this should be `addonURL`?

[2016-07-19 18:53] #783 closed

[2016-07-19 18:59] derekriemer commented on #783
Totally my fault, this got missed when I copied a line wrongly.

This is an amazing framework, and I'm amazed at how much it sped up my
workflow for doing this. Now I just have to design a nested cookiecutter
that will allow me to ask for more prompts only if one branch is rendered.

On 7/19/2016 12:53 PM, Michael Joseph wrote:

--
------------------------------------------------------------------

[2016-07-20 12:55] aroig opened #784 "How to update a project with changes from its cookiecutter?"
Hi,

I maintain several personal cookiecutters, and I found that I spend a lot of time keeping projects in sync with updates on the cookiecutter.

I started trying a workflow to deal with this, as follows:
1. Every project I render is assumed to be versioned by git. In the project repo, there is a branch `template`, that contains the result of cookiecutter rendering, without any other changes.
2.

[2016-07-20 16:24] alan-martinovic commented on #381
What's the status with this issue?
I'd really like to have the option to have descriptions in the prompt to increase the chances of pushing cookiecutter to my current team.

Would gladly pair up with someone for a sprint on currently ongoing EuroPython2016 to try and resolve this.

[2016-07-20 19:10] michaeljoseph commented on #771
Hi @mrteera and @tonytvo,
Thanks for the issue report.
It looks like the `{{cookiecutter.directory_name}}/{{cookiecutter.file_name}}.py` file you've created cannot be decoded as `utf-8`.
Can you check your editor settings?

[2016-07-24 13:33] kespindler opened #785 "Using cookiecutter to scaffold new elements of a project"
It doesn't seem like this is explicitly supported in cookiecutter, but I'm wondering about using cookiecutter to scaffold new elements of a project, something like the following:

[code]

Then run

[code]

And you get a new `project/app/models/user.py`. Are there others using cookiecutter like this, or have examples, or is there interest in such a feature?

[2016-07-27 21:01] shultz commented on #775
After some more troubleshooting and documentation reading, I don’t think this is an issue with cookiecutter itself.

To prove this to myself, I ran through the [Your First Cookiecutter](https://cookiecutter.readthedocs.io/en/latest/first_steps.html#your-first-cookiecutter) tutorial and I do not get an error when I use a single quote (apostrophe).
[code]

I think the lies with cookiecutter-django i

[2016-07-27 21:01] #775 closed

[2016-07-28 19:35] brettcannon opened #787 "Provide a __main__.py for the package"
By providing a `__main__.py` file in the `cookiecutter` package it allows for `python.exe -m cookiecutter` to work (and the entry point can then simply point at the `__main__` module). I would be happy to provide a PR for this if you're amenable to the addition.

[2016-07-28 19:47] hackebrot commented on #787
👍 from me

[2016-07-28 20:19] pydanny commented on #787
👍

[2016-07-28 22:01] brettcannon commented on #787
That's enough votes. :smile: . I'll see if I can get a PR created tomorrow.

[2016-07-30 03:58] #787 closed

[2016-07-31 10:31] hackebrot commented on #784
Hi @aroig! 👋  Thank you for opening this *issue*.

Sorry for the late response, we are currently very short on time. 😢

Can you please provide a link to such this ``jsonify`` jinja2 extension, given it already exists?

[2016-07-31 10:35] hackebrot commented on #741
Hi @audreyr, I can pick this up. Any suggestions for a new name?

[2016-07-31 12:07] hackebrot commented on #784
There is something you may want to have a look at. Cookiecutter already dumps the used context as a JSON file. It's overwritten though if you use the same template again.

You could have a ``post_gen_project`` hook to copy that file though, if you know the templates name (``_template`` for instance).

See [dump context](https://github.com/audreyr/cookiecutter/blob/21b5463fc6de7d3e342a3ce924f4e74c6

[2016-07-31 18:42] aroig commented on #784
@hackerbrot Thanks for the feedback!

I submitted a PR with what I meant in #791.

It didn't occur to me to use a `post_gen` hook for that. I still prefer the `jsonify` extension. Using `post_gen` would mean I have to hardcode the path to the cookiecutter-generated json files in the cookiecutter itself.

[2016-08-01 07:58] hackebrot commented on #771
🔔

[2016-08-01 07:58] hackebrot commented on #769
👍

[2016-08-03 16:54] abelnation opened #793 "pkg_resources.DistributionNotFound Error"
- Cookiecutter version: `1.4.0`
- Template project url:
- Python version: `Python 2.7.12 :: Continuum Analytics, Inc.`
- Operating System: Mac OSX 10.11
### Description:

New anaconda install.  Installed to `/usr/local/anaconda2`.  Error when executing:

[code]

Error:

[code]

Also:

[code]

[2016-08-03 17:48] luzfcb commented on #793
@abelnation what is the output of:

[code]
and

[code]

put the output on https://gist.github.com/ and then send the link

[2016-08-07 12:42] jakubka opened #794 "Prompts with help"
This is yet another try at introducing a new `cookiecutter.json` format which will support specifying help text for individual parameters which will be then printed when prompting.

There've been several attempts to do that (#249, #30, #381, #433), but all now seem outdated for one reason or another, so I am opening this new issue. I think old ones should be closed to reduce confusion. I've gone t

[2016-08-10 13:56] xrmx opened #795 "missing wheel dependency"
* Cookiecutter version: 1.4.0
* Template project url:
* Python version: 3.5.2
* Operating System: debian sid

### Description:

Installing cookiecutter from a freshly created python 3.5 virtualenv fails for me. Installing *wheel* fixes the issue.

### What I've run:

[code]

[2016-08-10 14:08] luzfcb commented on #795
@xrmx this seems to be a problem of `pip` or `setuptools`.

please, try updating `pip`, `setuptools` `wheel`

first, load the virtualenv and after, run

[code]

and try again install cookiecutter

[code]

[2016-08-10 14:28] xrmx commented on #795
The problem is that my virtualenv has pip but not wheel installed. And pip tries (wrongly?) to call the missing bdist_wheel when installing some requirements.

As written in the bug report installing wheel fixes the issue for me.

Said that *wheel* is not a requirement for pip's setup.py so we can't take it being there for granted. Since cookiecutter's  setup.py calls bdist_wheel itself in case of

[2016-08-10 15:58] luzfcb commented on #795
@xrmx apparently, `wheel` is required by `setuptools` https://github.com/pypa/setuptools/blob/master/setup.py#L187

I can not reproduce the error.

In my machine, pyvenv-3.5 create a virtualenv with a very old version of pip and setuptools.

after you create and load a new virtualenv with pyvenv-3.5, what is the output of:

[code]

[2016-08-10 16:07] xrmx commented on #795
@luzfcb Here it is:
[code]

[2016-08-10 16:16] xrmx commented on #795
Btw trying to debug with pypa people why my virtualenvs are borked.

@luzfcb I think we can close the bug, thanks for your help and sorry for the noise!

[2016-08-10 16:16] #795 closed

[2016-08-18 20:54] brettcannon commented on #59
I have somewhat run into a need for this as I have a template with some repeated, complicated Jinja templating that I don't want to make into one explicit Jinja plugin that people have to depend on so as to not gain a dependency on my template. It would be great if from some hook I could directly manipulate the Jinja context to inject my own items and plugins.

[2016-08-19 00:24] mrteera commented on #771
@michaeljoseph I use vim on mac. I've already changed my laptop so I can't remember what plugins I've installed.

Now I'm using a new laptop and similar vim plugins. Python 2.7.12, Cookiecutter 1.4.0. it works beautifully. So I can't reproduce this error anymore.

[2016-08-19 01:07] pydanny commented on #771
I'm going to mark this closed. If this is reproduced, please reopen it.

[2016-08-19 01:07] #771 closed

[2016-08-19 19:31] hackebrot commented on #59
Hi @brettcannon! 👋

Would your "own items and plugins" have any dependencies (other than what is already required by cookiecutter itself)?

[2016-08-19 19:39] brettcannon commented on #59
Nope. Honestly I just want a way to add more items programmatically after the user has entered their info.

To put this in concrete terms, I'm doing `{{ cookiecutter.python_version|replace('.', '')|truncate(2, end='') }}` across two files in multiple places (setting a variable when I can, but I'm still doing it multiple files), so I would rather do that manipulation in my pre-hook in Python code a

[2016-08-19 19:51] hackebrot commented on #59
Okay, cool. 🙇

I've used [jinja2 assignments](http://jinja.pocoo.org/docs/dev/templates/#assignments) to help with that, but as you say, it doesn't work across multiple files.

Thanks for the feedback, I'll take it into consideration when we design a plugin system.

[2016-08-19 20:26] hackebrot commented on #794
Thank you @jakubka for submitting this proposal. :bow:

I like the fact that cookiecutter.json would work on older cookiecutter versions due to the way it handles ``_parameters``.

That being said, it is not something that would be feasible in the long run as we add more features and also for templates that use numerous variables, such as [cookiecutter-django](https://github.com/pydanny/cookiecutt

[2016-08-19 20:32] dusktreader opened #799 "Can't pass variable/values on command line useing --no-input"
* Cookiecutter version: 1.4.0
* Template project url: (unavailable -- private repo)
* Python version: 3.5
* Operating System: OSX

### Description:

I'm trying to pass cookiecutter variable values on the command line. It isn't working

### What I've run:

[code]

[2016-08-19 20:33] hackebrot commented on #793
Hey @abelnation, can you provide above info. Maybe @luzfcb can help. 😃

[2016-08-19 20:35] hackebrot commented on #799
Hey @dusktreader! 👋

#666 is not part of version 1.4.0. Can you please try again with the **master** branch?

Thanks! 🙇

[2016-08-20 11:38] hackebrot commented on #785
Hi @kespindler! 👋

Thank you for opening this card. I'm afraid I don't quite follow how this could be done with **jinja2** templates and the current version of cookiecutter.

How does above JSON relate to the cookiecutter invocation?

[2016-08-20 11:39] hackebrot commented on #712
Hey @TylerLubeck! 👋

Is it okay if we close this issue and look at the others instead?

[2016-08-20 14:23] kespindler commented on #785
The idea is that even after a project has been created, you could create new files using the same config parameters as the root project. Rails and Yeoman have similar features.

[2016-08-22 11:07] mariusavram91 opened #803 "Add cookiecutter to up-for-grabs"
What do you think about adding the project to [up-for-grabs](http://up-for-grabs.net/#/tags/python)? I see a few low-hanging-fruit issues there.

[2016-08-23 00:20] jakubka commented on #794
Thanks for the feedback @hackebrot! Much appreciated.

Do we have more details about such plugin system somewhere? Do you mean some kind of extension to the current hooks model or something bigger? Has it been discussed?

My initial thoughts are that plugin system is over complicated solution for something we want to achieve. I see that there are requests for other features, but how important are

[2016-08-24 10:28] danwos opened #805 "cookiecutter as lib: Support custom config_file names (e.g recipe.json instead of cookiecutter.json)"
Hi all,
before creating a pull request I would like to get some feedback on the following feature.

I have implemented cookiecutter into my lib [groundwork](http://groundwork.readthedocs.io/en/latest/) as solution for realizing project generation via templates.
My goal is to somehow white-label cookiecutter, so that my users are able to use own names for their repository configuration files and th

[2016-08-24 13:54] pydanny commented on #805
This feature has always been rejected on account:

* it adds unnecessary complexity to Cookiecutter.
* Makes identifying Cookiecutter templates much harder

**Traditionally to get white labeling means you pay more for a product.** We already get so many UNPAID help and feature requests, but at least we get some recognition for our work. Allowing this would remove that recognition in return for add

[2016-08-24 14:57] danwos commented on #805
Hi pydanny,

I understand your points, if cookiecutter shall be a single application without the goal to provide an API for developers. In this case, it's important to use standardized names, so that all recipes can be used the same way. :+1:
But for me this feature request does not touch this. Or even better, this feature will not be usable, because for all cookiecutter cli commands cookiecutter(

[2016-08-25 01:41] pydanny commented on #805
* `.travis.yml`
* `.gitignore`
* `..pylintrc`
* `docker-compose.yml`
* `gulpfile.js`
* `pytest.ini`
* `.editorconfig`
* etc

The nice thing about having a specifically named management file like `cookiecutter.json` or any of those listed above is there is much, much less chance of collision.

In any case, you don't have to use `cookiecutter.json`. You can define your own format or means of getting

[2016-08-25 01:41] #805 closed

[2016-08-25 04:37] dusktreader commented on #799
@hackebrot discovered it was available in master shortly after posting this issue. Do you know when the next pypi release will br published?

[2016-08-25 04:37] #799 closed

[2016-08-26 18:35] mlabbe commented on #380
Writing my own cookiecutter template, I would love to eliminate the use of "cookiecutter" everywhere.  It's verbose and, in my opinion, un-Pythonic.

I came here to see what the justification for this was.

[2016-08-26 18:37] mlabbe opened #808 "Don't throw away user input when directory exists"
- Cookiecutter version:1.4.0
- Template project url:any
- Python version:3.5.2
- Operating System:Windows 10
### Description:
1. Create a project by hitting enter a bunch
2. Create a project with the same output directory, but spend a LOT of time entering parameters
3. Observe as Cookiecutter throws away all of your answers because the output directory exists.

expected results:

Environment is va

[2016-08-26 18:39] mlabbe commented on #138
This is important.  Having "y"|lower or "n"|lower when you mean "if thing" is way too verbose and error prone.  Jinja2 permits booleans; let's use them.

[2016-08-26 18:43] mlabbe opened #809 "User's JSON parse error causes ugly Python exception"
- Cookiecutter version: 1.4.0
- Template project url: all
- Python version: 3.5.2
- Operating System: Windows 10
### Description:
1. Create a subtly malformed .json file in a project directory
2. Run cookiecutter on that project
3. Observe your eyes glazing over as a huge python exception comes out of it.

Expected results: Succinct user facing error message with descriptive parse error.

[2016-08-26 18:59] mlabbe opened #810 "Ignore editor temp files"
* Cookiecutter version: 1.4.0
* Template project url:all
* Python version:3.5.2
* Operating System:Windows 10

### Description:

If I create a `README.rst` with Emacs, it autosaves a backup file `README.rst~` in the directory.  Cookiecutter should ignore common backup files instead of trying to parse them by default.

[2016-08-26 19:07] mlabbe commented on #810
This is also true for hook files.  Apparently you are running every file in the `hooks` subdirectory, which causes Windows to pop up a dialog asking if you want to search the Windows store for a "py~" runner.

[2016-08-26 19:38] mlabbe opened #811 "Provide guarantees of CWD in hook scripts"
- Cookiecutter version:1.4.0
- Template project url:
- Python version:all
- Operating System:Windows 10
### Description:

What guarantees are there that the CWD for post hook scripts will be root directory of the generated project in future revisions? I could not find this anywhere in the documentation.  This is important to me because I am recursively pruning subdirs in the generated project base

[2016-08-27 19:05] mlabbe opened #812 "Pretty Print JSON replays"
* Cookiecutter version:1.4.0
* Template project url:all
* Python version:3.5.2
* Operating System:Windows 10

### Description:

It's useful to look at JSON replays to debug your template script. Currently they are generated without any whitespacing.

    json.dumps(indent=4, sort_keys=True)

[2016-08-29 04:19] retr0h commented on #35
Could someone explain how this can be accomplished?  I have looked through the linked issues/PRs and do not see a reference on how to support single file templates.  It appears this is no longer an issue, but see no good examples.

/cc @michaeljoseph

[2016-08-29 10:02] lalstef opened #813 "Not escaped user input"
Supplying a string containing single quotes to the **description** field prompt resulted in a SyntaxError in the generated setup.py

[code]

[2016-08-29 12:03] freakboy3742 commented on #479
@hackebrot This is something I have a need for as well, and I might be motivated enough to look into implementing it (as I need this to support exported data types [Briefcase](https://github.com/pybee/briefcase)). Has any thought been given to a preferred way to handle this?

The easiest option I can think of: Since JSON lists are already being used as "choices",  we could modify the interpretatio

[2016-08-30 18:31] michaeljoseph commented on #813
Hi @lalstef,

This looks like a dupe of #775, which was handled / fixed in the [cookiecutter template in question](https://github.com/pydanny/cookiecutter-django/issues/698)

[2016-08-30 18:31] #813 closed

[2016-08-30 23:18] hackebrot commented on #812
Hi @mlabbe! 👋

Thanks for raising this card.

The outlined behaviour is intentional though as the files are not meant to be human-readable but small in terms of size on disk.

If you want to have a more readable representation you can run

``$ python -m json.tool template.json``

or

``$ cat template.json | jq`` (given that you have **jq** installed)

[2016-08-30 23:18] #812 closed

[2016-08-31 01:02] mlabbe commented on #812
Hi, thanks for the reply.  Unfortunately, hard drive space makes no sense as a reason to WONTFIX this.  Modern operating systems have 4k disk block sizes. That means each file's actual storage size is rounded up to the next block size multiple. Adding a few bytes to a file does not increase its actual disk size unless it goes past a block boundary.  Pretty printing is, therefore, free.

Looking at

[2016-08-31 21:56] ssteinerx opened #814 "# -*- coding: utf-8 -*- is not consistently used in all Python source files"
- Cookiecutter version:
  Cookiecutter 1.4.0
- Template project url:
  none
- Python version:
  3.5
- Operating System:
  OS X
  ### Description:
  # -_\- coding: utf-8 -_\- is not consistently used in all Python source files
### What I've run:

Nothing, it's an observation of an inconsistency in the project.

[2016-09-04 21:16] bittner opened #818 "Is there inheritance (or a similar concept) to override behavior of a cookiecutter?"
- Cookiecutter version: _latest_
- Template project url: e.g. https://github.com/pydanny/cookiecutter-django
- Python version: _any_ (preferably Python 3.4, 3.5)
- Operating System: Ubuntu Linux
### Motivation

I'm looking at cookiecutters like [cookiecutter-django](https://github.com/pydanny/cookiecutter-django), and I think that I may want to add, remove or change some specific implementation de

[2016-09-05 12:14] bittner commented on #785
I think that needs further explanation.

Would the "new elements of a project" be elements that were added to the cookiecutter (template) _after_ the project had been created? Or are you aiming at scaffolding in the sense of "please create a model in my app" (as Rails does, ATMHO)?

If it's the latter it wouldn't make much sense in the context of this project, as `cookiecutter` is promoted as tech

[2016-09-05 12:21] bittner commented on #805
:+1: for pointing out how to use cookiecutter as a library!  :smiley:

[2016-09-05 13:26] ambross opened #819 "Restart cookiecutter on error from hooks"
In my cookiecutter template I have set few verification (like naming convention) rules in hooks ( pre_gen_project.py / post_gen_project.py) . So , when these verification failed during cookiecutter project creation, cookiecutter exit without creating project.

I would like to re initiate cookiecutter from hooks. Is it possible?

[2016-09-06 13:16] danwos commented on #805
Ok, most of the given examples are applications, which are used via command line and not by importing them into python code. So for me, most of them are not designed to work like a library.

A nice example of some code, which can be used as application and as lib is buildout.
buildout normally works with a config-file called buildout.cfg. But you are free overwrite this name and use something diff

[2016-09-06 17:55] hackebrot commented on #805
Hi @danwos 👋

Maybe [this is what you're looking for](https://github.com/audreyr/cookiecutter/issues/679#issuecomment-218619832), but pass in every variable that

to cookiecutter via extra context.  😄

[2016-09-06 18:54] danwos commented on #805
Hey @hackebrot,
yes, this should work. And thanks for the hint!  :+1:

So I add really every variable to my cookiecutter.json file.
The variables, which I need to calculate will get an underscore and are added to extra_context.
So cookiecutter does not ask the user for input.

This pretty workaround should be part of the *Calling Cookiecutter Functions From Python* section.
I think it may solve th

[2016-09-06 19:32] hackebrot commented on #805
Cookiecutter is free and open source software, developed and managed by unpaid volunteers 😉 If you feel that parts of the documentation lack important information, please consider submitting a PR and we'll happily review it.

[2016-09-08 16:41] ssteinerx opened #821 "Fail fast on directory already exists"
* Cookiecutter version: 1.4.0
* Template project url: local
* Python version: 2.7
* Operating System: 10.10.6

### Description:

If the destination directory already exists (based on the project name), cookiecutter fails *after* all questions are asked.

### What I've run:

cookiecutter, fill out name of existing directory should fail as soon as it can detect, not after answering all of the questi

[2016-09-09 08:19] urosjarc opened #822 "Custom context template holder name"
Currently you can't replace `{{coockiecutter.something}}` with some shorter version like
`{{cc.something}}`... [see the link...](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/main.py#L80)

I would really like to discuss how to implement this feature to the coockiecutter, I can make pull requests to make this happend.

[2016-09-09 21:18] mlabbe commented on #812
Hi @hackebrot , I know you marked as Wontfix, but do you have any additional comments on this since I raised the most recent point?

[2016-09-10 22:36] michaeljoseph commented on #35
@retr0h, yeah looks like there was some discussion in #10, but nothing's come out of it.
Re-opening.

[2016-09-11 16:14] #633 closed

[2016-09-11 17:06] #741 closed

[2016-09-13 22:13] bittner opened #823 "Recommended way to generate one file only from a folder"
* Cookiecutter version: _latest_
* Template project url:  _none yet_
* Python version: _any_ (3.5 atm)
* Operating System: _Ubuntu Linux 16.04_

### Description:

I'm trying to generate alternative configuration files for a project based on user input (e.g. Travis CI _or_ Codeship _or_ GitLab build configuration, MIT _or_ Apache 2.0 _or_ ... license, etc.).

### What I've run:

One simple way to i

[2016-09-13 22:20] hackebrot commented on #823
Hi @bittner! 👋

I use a folder and a post-gen hook:

- [templated file](https://github.com/pytest-dev/cookiecutter-pytest-plugin/blob/master/pytest-%7B%7Bcookiecutter.plugin_name%7D%7D/LICENSE)
- [options](https://github.com/pytest-dev/cookiecutter-pytest-plugin/tree/master/pytest-%7B%7Bcookiecutter.plugin_name%7D%7D/licenses)
- [post-gen hook](https://github.com/pytest-dev/cookiecutter-pytest-plu

[2016-09-14 13:55] bittner commented on #823
That looks good, thank you! :+1:

There is probably no (easy) way to avoid creating the files in the first place (i.e. "ignore folder") instead of deleting them in the end, right? - Just for the case I allow writing over an existing, potentially modified, project.

[2016-09-14 21:13] henrahmagix opened #824 "Cannot use local imports in hooks"
* Cookiecutter version: `1.4.0`
* Template project url: https://github.com/henrahmagix/cookiecutter-hook-imports
* Python version: `2.7` and `3.4.3` (installed via [`pyenv`](https://github.com/yyuu/pyenv))
* Operating System: OS X 10.11.6 (El Capitan)

### Description:

In `hooks/pre_gen_project.py`, I am trying to import `hooks/utils.py`, but it errors as below.

Admittedly, the amount of code in

[2016-09-15 14:13] ssteinerx commented on #409
@vaab I am thinking about the same thing, but I've not gotten into implementation details at all yet: https://github.com/ssteinerx/cookiecutter-django-flux

[2016-09-15 17:46] hackebrot commented on #814
Hi @ssteinerx! 👋

Good catch - mind to submit a PR adding missing encoding declarations?

[2016-09-17 13:43] michaeljoseph commented on #803
@mariusavram91 that sounds cool to me.
Would you like to add us?
I think the `please-help` and `low-hanging-fruit` tags would be appropriate.

[2016-09-19 12:56] bittner commented on #824
I stumbled upon the same issue.

The reason why local imports don't work is that the "hook" script you write is meant to be executed as a standalone script, because it's actually a _template_ that is [processed by Jinja2](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/hooks.py#L94), [written to a temporary file](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/hoo

[2016-09-19 13:13] #823 closed

[2016-09-19 19:09] michaeljoseph commented on #824
We could add the `hooks` directory to the `PYTHONPATH` envvar of the subprocess call?

@henrahmagix, @bittner: would either of you be interested in putting together a PR for this change?

[2016-09-19 20:45] bittner commented on #824
@michaeljoseph Manipulating the `PYTHONPATH` only makes sense for a _generated_ version of the `hooks` directory. In other words, we still must consider creating some temporary folder. Then again, we need to take care about when we process the hooks: If we process them all _before_ the template generation but expect some value in the post-generate hook that is only available _afterwards_ we're scr

[2016-09-19 21:52] michaeljoseph commented on #824
@bittner, we don't need to generate all the files in `hooks` directory as long as any shared modules / non-hook files in the `hooks` directory don't require templating.

We have the cookiecutter template checked-out somewhere (`<repo_dir>`), the temporary generated hook file (`/tmp/hook.py`) and we execute the script with the `cwd` of the generated project directory (`<project_dir>`).
So, we'd end

[2016-09-23 10:24] jakubka commented on #794
@hackebrot any chance you can take a look? thanks!

[2016-09-23 22:35] zooba commented on #794
(cc @huguesv)

Since using a dict for the default value [is already supported](https://github.com/audreyr/cookiecutter/pull/360/files), why not just use more fields on those?

We are adding a GUI interface to Visual Studio for cookiecutter (see [here](https://github.com/Microsoft/PTVS/pull/1600) for some early screenshots) and would love to be able to use rich information about each field. Nested

[2016-09-24 14:46] mrteera commented on #771
I have the same problem again, but I found that it's not related to Cookiecutter.
I just want to put the solution here in case someone also found this problem.
The problem is in your directory, there are files contain non-UTF-8, so what I did is remove all those files that contain non-UTF-8 characters.
[code]
Credit: https://gist.github.com/rmetzler/2947828

[2016-09-25 22:29] jakubka commented on #794
@zooba the proposal in #360 isn't forward compatible. Meaning that already released `cookiecutter` versions would fail with this new format. That was the reasoning behind the format I proposed in this discussion.

That being said, maybe keeping forward compatibility isn't important and we can safely choose the more elegant solution as proposed in the linked PR. This is something I can't decide.

B

[2016-09-29 03:15] xaxxon commented on #11
I seem to be having trouble trying to figure out how to put a brace after a substitution.   I had "{{somestuff{}}} but I was getting "{somestuffSubstitutionHere}}" so then I tried {{somestuff{}} but that gave an error about an unmatched {

So how do you follow a substitution with a close brace?

[2016-10-01 22:00] talaniz commented on #742
Hi, I'm getting ready to make my first pull request, I just made some changes to doc strings on prompt.py. I went run the tox tests as shown in the contribution section and received some errors. I was able to paste some of those errors here: http://pastebin.com/yw07RJrp. I was wondering if this was something to be concerned with or if I need to possibly change something in my environment to get th

[2016-10-01 22:29] hackebrot commented on #742
Hi @talaniz,

I'm happy to hear that you are about to open your first pull request 👍

We use the click library for cookiecutter and for Python 3 it requires a Unicode locale to be exported, see [click docs](http://click.pocoo.org/5/python3/#python-3-surrogate-handling). Can you please try again with the environment variables set?

[code]

[2016-10-02 14:45] mariusavram91 commented on #803
Happy to do it!

Thanks @michaeljoseph!

[2016-10-02 14:45] #803 closed

[2016-10-03 15:10] talaniz commented on #742
Hello @hackebrot,

   Thanks for the follow up. I was able to get it working. For some reason, my IDS console threw the errors, but my terminal didn't have any issues running tests. I'm getting an `InterpreterNotFound` error identical to this [issue](https://github.com/audreyr/cookiecutter/issues/404), I'm assuming this is ok as the issue was closed. I'm going to review my work one more time today

[2016-10-03 21:39] lukeschlather opened #829 "I can't figure out how to run cookiecutter with my project"
* Cookiecutter version: 1.4.0
* Template project url: https://github.com/lukeschlather/cookiecutter-test
* Python version: 3.5
* Operating System: Ubuntu 16.04

### Description:

I have a .cookiecutterrc that looks like this:
default_context:
    team_name: "Myteam"
    team_email: "myteam@gmail.com"

I'm modelling my commands off of the example in the readme that goes:

Inject extra context with

[2016-10-03 21:50] hackebrot commented on #829
Hey @lukeschlather! 👋

We haven't released this feature yet 😢

See https://github.com/audreyr/cookiecutter/issues/799#issuecomment-241128185

[2016-10-03 22:03] lukeschlather commented on #829
Ah. that explains that. What is NonTemplatedInputDirException?

[2016-10-03 22:10] hackebrot commented on #829
It's raised when your template does not contain a directory which has a name like the following:

``{{cookiecutter.project_slug}}`` while ``project_slug`` can be w/e you want to name the variable.

[2016-10-03 22:35] lukeschlather commented on #829
Does cookiecutter really need to enforce that? That seems like an
unnecessary pythonism. I'm writing Python so I'll just conform to the
convention, but in principle that might be inappropriate for other
languages. For example, I was thinking about using this for our NPM /
JavaScript packages as well, and the convention there doesn't require any
such directory to get a buildable package.

On Mon, O

[2016-10-03 22:51] lukeschlather commented on #829
Nevermind, I see now.

[2016-10-03 22:51] #829 closed

[2016-10-03 22:57] hackebrot commented on #829
Happy you find cookiecutter useful. 😉

[2016-10-05 04:10] feigaoxyz opened #830 "default choice for list of options in .cookiecutterrc"
Currently for a list of options, the default choice is [hard-coded to be the first one](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/prompt.py#L71).

I wonder if this is a design decision or we should fix it?

[2016-10-05 11:38] hackebrot commented on #830
Hi @feigaoxyz! 👋

This is indeed a design decision as the current context format does not allow extended variable information. What would be the preferred solution for you?

Happy to discuss here! 👍

[2016-10-05 21:41] #385 closed

[2016-10-07 21:24] mandeep commented on #742
Is there a checklist of all the files that need to be run against pydocstyle?

[2016-10-08 00:20] #479 closed

[2016-10-08 11:31] michaeljoseph commented on #803
Thanks @mariusavram91!

[2016-10-09 11:24] hackebrot commented on #254
By using the **click** library, I think we don't have this problem any more.

Let me know if, I am missing something here.

[2016-10-09 11:24] #254 closed

[2016-10-09 11:28] hackebrot commented on #284
With #825 you can now refer to local templates based on your ``cookiecutters_dir`` settings.

[2016-10-09 11:28] #284 closed

[2016-10-09 11:30] hackebrot commented on #461
#815 changed the way dictionaries are handled. Can you please give it a try?

[2016-10-10 01:24] viswanathct commented on #461
Sadly, I've lost touch with it.

[2016-10-11 08:39] kevgathuku opened #835 "Unclear README instructions on how to use an already cloned cookiecutter"
* Cookiecutter version: 1.4.0
* Template project url: https://github.com/audreyr/cookiecutter-pypackage
* Python version: Python 3.5.2
* Operating System: Mac OS

### Description:
I have already run ` cookiecutter gh:audreyr/cookiecutter-pypackage` and it fetched the repo correctly in to my `~/.cookiecutters/`.
However I got a detail wrong during the prompts and had to rerun `cookiecutter` to gene

[2016-10-11 17:08] hackebrot commented on #835
Hi @kevgathuku! 👋

I assume you are running the latest version from PyPI? The feature to support referencing local templates by name, #825, was merged a couple of days ago and **has not been released just yet**.

Which means the docs are in fact correct for the current master branch.

[code]

You can always checkout the docs for the version that you are running by selecting the version tag via the

[2016-10-11 17:08] #835 closed

[2016-10-11 18:19] kevgathuku commented on #835
Nice! I wasn't aware of this. It works perfectly with the latest master from GitHub.
Thanks a lot for the help @hackebrot

[2016-10-11 18:45] hackebrot commented on #835
You're most welcome @kevgathuku 👍

[2016-10-13 14:36] tamj0rd2 commented on #596
That file doesn't exist @pydanny

[2016-10-13 14:42] luzfcb commented on #596
@tamj0rd2 a folder was renamed. consequently the link to file has changed.

The correct is:

https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/%7B%7Bcookiecutter.project_slug%7D%7D/templates/users/user_form.html

[2016-10-14 11:48] hackebrot commented on #461
Okay, that's fair enough. I'm closing this for now.

Please get in touch if you see any problems around this in the future. Thanks 🙇

[2016-10-14 11:48] #461 closed

[2016-10-14 19:32] cheungnj opened #838 ".py hook is overwritten by .pyc hook"
* Cookiecutter version: 1.4
* Python version: 2.7
* Operating System: Red Hat Enterprise Linux Server release 7.2 (Maipo)

### Description:

I am trying to implement a wrapper for cookiecutter (let's call it `wrapper`) as part of a Python package. The package installs the recipe which has a post hook. When the user calls `wrapper`, with no arguments, `TEMPLATE` will default to my custom recipe inc

[2016-10-15 00:09] cheungnj commented on #838
Nvm, this is a problem with my code...

[2016-10-15 00:09] #838 closed

[2016-10-17 16:47] gvidon commented on #723
@jamesbassett what if you can't know absolute path to project created from template? I digged into cookiecutter source code and found that there is no way for hooks to get to know generated project fs path — https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/hooks.py#L53

What did I miss?

[2016-10-17 20:01] jamesbassett commented on #723
@gvidon the resource paths in my manifest aren't absolute - they're relative to the generated output directory (in my case they look something like `src/main/kotlin/my/company/{{cookiecutter.project}}/Feature1a.txt`).

As an aside, I believe cookiecutter changes directory to the output directory, so if you need to, you can access the generated directory that way from a hook as well.

[2016-10-26 11:19] ivanz opened #841 "Unable to use cookiecutter with the py launcher on Windows"
I am unable to use cookiecutter with Python for Windows using the built-in [py launcher](https://docs.python.org/3/using/windows.html#launcher):

[code]

[2016-10-26 11:28] luzfcb commented on #841
@ivanz the pull-request https://github.com/audreyr/cookiecutter/pull/788 include this feature, but will be release only in the next version of cookiecutter (1.5.0)

[2016-10-27 20:10] Kashyap12 commented on #709
Hi Can I take this? @pydanny

[2016-10-28 08:10] hackebrot commented on #709
Hey @Kashyap12! I'm sure @pydanny is happy with you working on this! Look forward to your PR 👍

[2016-11-01 02:15] freakboy3742 opened #845 "Add support for "private" cookie cutters to provide commercialisation option"
This is a broad strokes feature proposal; I'm motivated to develop it further and implement it if it is of interest to the cookiecutter team.

The problem: Cookiecutter templates represent an expression of knowledge, experience, and opinion.  The templates take time to develop, as does the knowledge and experience that leads to their development.

In parallel, the open source community has a gener

[2016-11-02 06:30] ryanolson opened #846 "git pull instead of re-clone"
* Cookiecutter version: latest
* Template project url: n/a
* Python version: n/a
* Operating System: n/a

### Description:

Instead of deleting a git repo that has already been pulled, it seems most logical that we should perform a pull instead of deleting the repo and recloning.

https://github.com/audreyr/cookiecutter/blob/e041f215e5def801529a67af03f0bcf283af38aa/cookiecutter/vcs.py#L28

If the

[2016-11-02 17:08] pydanny commented on #846
Interesting idea, certainly could speed things up with Cookiecutter Django.

The downside is the additional complexity for Cookiecutter.

[2016-11-02 17:10] pydanny commented on #845
This is a very interesting idea. Initially, I'm for it!

Do keep in mind that git cloning from private URLs is already a feature of Cookiecutter. The rest of it is up in the air.

[2016-11-02 22:22] jayfk commented on #845
@freakboy3742 You might find [https://github.com/jayfk/bakery](bakery) interesting. I hacked this together in a rush, even forgot to add a license. It's MIT if you want to play with it.

[2016-11-02 22:51] hackebrot commented on #845
I think that's an interesting idea - I'd be happy to discuss this further 👍

[2016-11-03 00:52] ryanolson commented on #846
I know you guys don't like to add a lot of external dependencies; however you do require `git` to be installed, perhaps it's not too much to  add [pygit2](https://github.com/libgit2/pygit2) to the set of dependencies.  That greatly simply the `vcs.py` code and make pulling much easier.

[2016-11-03 01:57] pydanny commented on #846
Thanks for the other suggestion, but the installation issues across multiple platforms are a show stopper for Cookiecutter integration (http://www.pygit2.org/install.html#libgit2-within-a-virtual-environment)

[2016-11-03 02:52] ryanolson commented on #846
Gotcha.  If I have time, I'll see about adding some submodule calls for performing a pull.

[2016-11-03 03:11] pydanny commented on #846
Umm... Pygit has dependency issues that are way too broad for the Cookiecutter maintainers to cover. Any simplification of code that it will provide will be offset many times over by users across many platforms asking for help with libgit installation help.

[2016-11-11 20:56] cheungnj commented on #704
I'd also like to see this implemented. For my use case, I want to add a custom filter that would be used in several places in my template. I could use a custom extension but if isn't installed then  users wouldn't be able to point cookiecutter at my repo to successfully generate a project. I'd like to avoid having users install this additional extension because I want the template to work with or

[2016-11-13 03:26] kuroneko25 commented on #829
I tried the code on master branch but it seems I have to define the variable in `cookiecutter.json`. For example I have something like this:
[code]
And if I then call cookiecuter like this `cookiecutter --no-input mytemplate var3=value3` it throws the exception `Error message: 'dict object' has no attribute 'var3'` unless I also define var3 in cookiecutter.json

[2016-11-13 09:54] hackebrot commented on #829
Hi @kuroneko25! 👋

That's intended behavior, you need to define a default value for ``var3`` in cookiecutter.json.

[2016-11-14 19:04] cheungnj opened #850 "pre_gen hook doesn't appear to be loading custom extensions"
Latest version of cookiecutter from master. Last commit [ceafa1dc1b5eb70835ffba5dc7457df269d77ba8](https://github.com/audreyr/cookiecutter/commit/ceafa1dc1b5eb70835ffba5dc7457df269d77ba8)

In my pre_gen_project hook, I have this code: `{{cookiecutter.should_be_list | to_sequence}}` which turns a string into a list but cookiecutter raises a TemplateAssertionError `jinja2.exceptions.TemplateAssertio

[2016-11-17 02:11] tuxredux opened #851 "Access the Context dict in the Pre/Post-Generate Hook scripts"
Hey, just want to start off by saying thanks for making this awesome project! :)

The title says it all--is there any way to access the CLI Context dictionary in the `pre_gen_project.py` and `post_gen_project.py` hook scripts? I want to be able to add an extra context variable [(a timestamp just like the example)](https://cookiecutter.readthedocs.io/en/latest/advanced/injecting_content.html#exampl

[2016-11-17 10:35] Cadair commented on #851
:+1: I came here to ask exactly the same thing!

[2016-11-17 10:42] Cadair commented on #794
Why not add a section to the JSON just for help prompts that can be ignored by old versions and is independent of the values.

[code]

[2016-11-17 12:01] astrofrog commented on #794
I think something like what @Cadair is suggesting would be great in the short term. While I agree a plugin system would be great, at the basic level, being able to have more verbose questions is a pretty important feature, and probably not something that should be provided just by a plugin?

[2016-11-17 13:42] andytom commented on #814
Hi @ssteinerx and @hackebrot,

I've opened a PR (#852) for this. Hope you don't mind.

[2016-11-17 14:40] ssteinerx commented on #814
Not at all -- thanks for getting to this!

S
aka/ssteinerX

On Nov 17, 2016, at 8:42 AM, andytom wrote:

[2016-11-17 19:04] NathanUrwin opened #853 "Add support for secure password input"
I'm not sure how it could be implemented, but the option to choose between `raw_input` and `getpass.getpass` for secure password input would be an awesome feature.

Thanks in advance for your time!

EDIT: Maybe something along the lines of...
[code]

[2016-11-17 19:20] jakubka commented on #794
@Cadair your suggestion is practically the same as the original one, except I propose more generic name `_parameters` to specify additional metadata of the parameters. You used `_help` for the same purpose.

In future we can very easily add more possible options to the options in `_parameters`... How is having `_help` better than `_parameters`?

Anyway, it looks like this proposal is being superse

[2016-11-17 20:28] Cadair commented on #794
Yes it is practically the same as yours but still using the original default value specification. _help or _parameters is all basically the same.

As for #848 it seems that that is justifiably on hold. However, I really feel that at the bare minimum cookiecutter needs a way of printing a help prompt  during the question process.

[2016-11-17 20:51] tuxredux commented on #851
Another quick question, is there anyway to access the created project files in the `post_gen_project.py` script? That could solve the extra context variables injection problem for now, as well as [this other issue](https://github.com/audreyr/cookiecutter/issues/853). Thanks in advance for your time!

[2016-11-17 23:22] hackebrot commented on #853
Hi @tuxredux! 👋

Thank you for suggesting this feature.

It would be something that we could add with #848. I have updated the PR with an example for hidden inputs.

[2016-11-17 23:36] #814 closed

[2016-11-18 00:09] cheungnj opened #854 "Interpret cookiecutter.json keys as templates"
Let's assume that I have 2 prompts:

[code]

I don't want a user to see the second prompt if the first response was `no`.

#848 is awesome! And it implements this with the `skip_if` field but the uncertainty regarding **when** someone sponsors that PR makes me apprehensive because it looks like its on hold until that happens. That being said, for the short term would it be possible to support cond

[2016-11-18 00:29] hackebrot commented on #854
Hi @cheungnj! 👋

I think that we should focus on #848, rather than trying to work around the limitations of the current context spec. At this point we have no way of communicating to the user that their version of cookiecutter is incompatible with the given template and its context format. Again #848 would enable us to do this, in addition to the suggested features:

- help messages #794
- hidden

[2016-11-18 00:32] cheungnj commented on #854
@hackebrot Thanks for the quick response!

I'll spread the word about cookiecutter to my colleagues so hopefully, we can get someone to sponsor this!

[2016-11-18 01:14] tuxredux commented on #853
Hey @hackebrot, thanks for the reply!

The new proposed context format looks AMAZING and VERY powerful! :D

I would definitely sponsor the new feature if I wasn't a one-man startup with little to zero funds :(

Hopefully, someone will though. Keep up the great work!

[2016-11-22 10:44] pgrzesik commented on #637
Is it possible to just set enviroment variable, without writing extensions ? I only need to set `trim_blocks` in environment.

[2016-11-23 13:07] hackebrot commented on #637
@pgrzesik as of now, it's not possible to change the environments parameters.

[2016-11-23 13:13] pgrzesik commented on #637
@hackebrot Thanks a lot!

[2016-11-23 13:17] hackebrot commented on #637
@pgrzesik if you submit a PR that includes tests, I would be happy to review it for the next release.

[2016-11-25 14:34] Pawamoy commented on #854
We could also have something like:

[code]

User would be prompted for "django", and if he says "yes" or "true", he would also be prompted for "django_versions" and "django_fake_model". If he says "no" or "false", it would skip to "next" directly.

Of course this very example requires support for boolean variables (https://github.com/audreyr/cookiecutter/issues/126 ?), and also updated configurati

[2016-11-25 16:02] michaeljoseph commented on #850
Hi @cheungnj,

Thanks for the issue!

This looks like an oversight, we should be using the same Jinja environment to render hooks as we do elsewhere.
This looks like a relatively easy fix to implement- would you like to submit a PR?

Essentially, we should be using [cookiecutter.environment.StrictEnvironment](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/generate.py#L253) instea

[2016-11-25 19:31] hackebrot commented on #850
Hey @cheungnj! 👋

I've just pushed a PR adding two tests that replicate this bug. As @michaeljoseph said, we would happily review a PR from you to address this issue, feel free to base your branch off of #856.

Please let us know in case of any questions!

[2016-11-25 19:59] hackebrot commented on #570
I don't think this is still an issue. Please ping me if that's not the case and I'll re-open this. Thanks 🙇

[2016-11-25 19:59] #570 closed

[2016-11-25 20:00] hackebrot opened #857 "Release 1.5.0 - Alfajor"
### Required
- [x] #862 Handle empty hook file or other OSErrors
- [x] #834 Find the requested hook only
- [x] #850 pre_gen hook doesn't appear to be loading custom extensions
- [x] #856 Tests for custom extensions in hooks
- [x] #858 Use click to process dict variable
- [x] #861 Reproducible build with default config

### Optional
- [x] #791 add a jsonify filter to jinja default extensions
- [x]

[2016-11-25 20:14] cheungnj commented on #850
@michaeljoseph @hackebrot

I'd be happy to submit a PR for this. Thanks for the opportunity to contribute!

[2016-11-27 22:39] #769 closed

[2016-11-27 23:05] hackebrot commented on #850
Hey @cheungnj! 👋

FYI The tests have been merged into master!

[2016-11-28 21:27] cheungnj commented on #854
@Pawamoy For nested dicts, I don't think you are prompted for every key contained inside the dict. I believe you are just able to pass a dict like
[code]
and it'll be accepted as long as its a valid json dict. At least that what's I gather from the [docs](https://cookiecutter.readthedocs.io/en/latest/advanced/dict_variables.html). I could be wrong though. Maybe one of the maintainers can elaborate

[2016-11-29 23:32] hackebrot commented on #854
@Pawamoy @cheungnj dict values as introduced via #815 can not be used for conditional prompts. Instead user are prompted for a valid JSON dictionary, which will then be deserialized into a Python dict.

As I've mentioned earlier, I don't think there's much value to trying to coming up with workarounds for something that could be solved in a clean and extensible fashion, as demonstrated with the pr

[2016-12-03 18:52] hackebrot commented on #857
🍪 @audreyr @pydanny @michaeljoseph 🍪

[2016-12-06 10:29] karantan opened #863 "Documentation on extra context"
* Cookiecutter version: 1.4
* Template project url: /
* Python version: 3.5.1
* Operating System: OSX

### Description:
I am trying to inject extra context via `cookiecutter()` function.
### What I've run:
This is my code:
[code]
The above code actually works, the only problem is that I also had to put `authentication_random`, `authomatic_random` and `session_random` to cookiecutter.json like this

[2016-12-06 11:14] hackebrot commented on #863
Hi @karantan! 👋

Thanks for raising this issue and offering to resolve it.

The [extra-context docs](http://cookiecutter.readthedocs.io/en/latest/advanced/injecting_content.html) mention that ``extra_context`` overrides cookiecutter.json, but I agree that it is not very clear or verbose. Happy to review a PR, go for it! 👍

[2016-12-06 15:04] henrahmagix commented on #824
@michaeljoseph Ack! My response email has been in my drafts! Sorry I didn't notice until now. Here it is...

Alas, my Python skills are beginner and I haven't read through this project's code very much (yet!) So whilst I will certainly look (and have been looking) into it, I wouldn't be a reliable implementer =)

[2016-12-07 19:35] pjbull opened #865 "Symlinks become normal directories when cookiecutter is run"
* Cookiecutter version: master
* Template project url:
* Python version: 3.5
* Operating System: OSX

### Description:

Symlinks within cookiecutter templates are copied as directories rather than as symlinks.

### What I've run:

Here's a cookiecutter template with just the `name` variable in `cookiecutter.json`:
[code]

I can successfully run cookiecutter.
[code]

In the output, the symlink turn

[2016-12-07 23:15] michaeljoseph commented on #865
Nice catch @pjbull! We look forward to your PR 😃

[2016-12-08 22:50] #632 closed

[2016-12-10 15:43] #850 closed

[2016-12-14 02:19] stevepiercy opened #869 "Docs: remove [sudo] from Installation, add pre-reqs and packaging tools reference"
* Cookiecutter version: master
* Template project url: n/a
* Python version: n/a
* Operating System: n/a

### Description:

In the [installation instructions](https://cookiecutter.readthedocs.io/en/latest/installation.html), there are an optional `[sudo]`s, which implies installing cookiecutter into a system Python instead of a virtual environment.

In Pyramid, we do more user hand-holding, starti

[2016-12-14 15:37] hackebrot commented on #869
Hey @stevepiercy! 👋

I think that's a great idea. Would love to review a PR.

[2016-12-15 23:42] hackebrot commented on #857
I can do the release, but I need a thumb from you ☺️

[2016-12-16 12:26] michaeljoseph commented on #857
:+1: :+1:

[2016-12-16 15:45] hackebrot commented on #857
👏 think we are ready to 🚀

[2016-12-16 16:08] pydanny commented on #857
:+1:

[2016-12-18 02:28] TylerLubeck commented on #712
Holy wow @hackebrot I had been checking the ticket periodically and just assumed y'all were busy. Never even crossed my mind to check here until I was clearing through some alerts.

Yeah, sure thing! Can I ask which "others" it is you're mentioning?

[2016-12-18 14:31] hackebrot commented on #857
@pydanny @michaeljoseph I'm getting a number errors when generating the long description for PyPI with restview. I vaguely remember that this was a problem last time as well, but I don't know how we solved it. Do we really need the full changelog on PyPI?

``$ restview --long-description --pypi-strict``

``Duplicate explicit target name: "cookiecutter-pyqt5".``

[2016-12-18 14:35] hackebrot commented on #857
3379e99 does not look like this would resolve the errors I get now.

[2016-12-18 14:42] hackebrot commented on #857
I propose to remove the changelog from the description, see #871

[2016-12-18 22:16] hackebrot commented on #857
😂 https://github.com/audreyr/cookiecutter/releases/tag/1.5.0

[2016-12-18 22:16] #857 closed

[2016-12-19 07:03] mmerickel commented on #869
FWIW ``pip install --user cookiecutter`` and a note about ensuring that the relevant bin folder ``$HOME/.local/bin`` (not sure what it is on windows) is on your path is much closer to a best practice these days than anything else involving pip installing a system-wide tool.

[2016-12-19 08:51] stevepiercy commented on #869
From pip's help:

@hackebrot I have some docs to finish up in Pyramid first, then I'll return to this issue.

[2016-12-22 08:57] janssja opened #874 "`self._name`, ^ SyntaxError: invalid syntax"
* Cookiecutter version: cookiecutter-1.5.0
* Template project url: https://github.com/pydanny/cookiecutter-django.git
* Python version: Python 2.7.10 (but also 3.5)
* Operating System: Mac OS X

### Description:
Syntax error when cloning

[code]
after command:
[code]

[2016-12-24 22:51] aryamccarthy opened #875 "`import readline` to allow backspace in CLI."
* Cookiecutter version: '1.4.0'
* Template project url: https://github.com/drivendata/cookiecutter-data-science
* Python version: 3.5.2
* Operating System: macOS 10.12.3

### Description:

Importing the `readline` package would allow users to backspace in the prompts without it rendering as `^H`. No other change would be needed.

[2016-12-27 21:52] stevepiercy commented on #869
@hackebrot see #880

[2016-12-28 10:35] hackebrot commented on #874
Hi @janssja! 👋

Can you please post the output for ``pip freeze`` here?

[2016-12-28 10:48] janssja commented on #874
Solved after re-starting mac

[2016-12-28 10:48] #874 closed

[2016-12-28 10:51] hackebrot commented on #874
😁

[2016-12-30 13:44] hackebrot commented on #126
This would be possible with #848

[2016-12-30 14:50] hackebrot commented on #249
See #848

[2016-12-30 14:55] hackebrot commented on #429
Anyone up for getting this implemented? 😁

[2016-12-30 14:56] hackebrot commented on #430
Cookiecutters 👈

[2016-12-30 14:56] #430 closed

[2016-12-30 15:02] hackebrot commented on #381
See #848

[2016-12-30 15:02] #381 closed

[2016-12-30 15:05] hackebrot commented on #59
I think this falls under the same category as #848. Assigning the **Requires Sponsorship** label until we have sponsorship for this project.

[2016-12-30 15:06] hackebrot commented on #799
We release version **1.5.0** a few weeks ago. 👍

[2016-12-30 15:58] hackebrot commented on #808
Cookiecutter does not know the target location for the new project before prompting.

You can try the [replay feature](http://cookiecutter.readthedocs.io/en/latest/advanced/replay.html) to re-use previously entered information.

[2016-12-30 15:58] #808 closed

[2016-12-30 16:02] hackebrot commented on #138
See #848

[2016-12-30 16:03] hackebrot commented on #809
Hi @mlabbe! 👋

Would you mind creating a patch for this?

[2016-12-30 16:08] hackebrot commented on #810
Hi @mlabbe!

I don't think it's Cookiecutter's responsibility to make sure the template is in a clean state, but I would be OK with skipping over ``~`` files. Do you mind implementing a patch?

[2016-12-30 16:10] hackebrot commented on #818
Hi @bittner! 👋

There are no plans at this point to implement something like *template inheritance*, as far as I can tell.

[2016-12-30 16:11] hackebrot commented on #819
You can re-use previously entered information using the [replay feature](http://cookiecutter.readthedocs.io/en/latest/advanced/replay.html). Hope this helps!

[2016-12-30 16:11] #819 closed

[2016-12-30 16:21] hackebrot commented on #821
I see how checking the target directory while prompting would improve the user experience.

Do you want to create a PR, @ssteinerx?

[2016-12-30 16:24] hackebrot commented on #822
Maybe you can add a comment to the discussion on #380?

[2016-12-30 16:34] hackebrot commented on #812
There is a workaround that only requires **Python** to generate a human-readable version from replay files. At the end this functionality is not user-facing, which I don't really see the point.

But I also understand that file size on disk is not a real concern. Can you create a PR, please?

[2016-12-30 16:39] hackebrot commented on #830
See #848

[2016-12-30 16:42] hackebrot commented on #841
We release **cookiecutter 1.5.0** a few weeks ago! 👍

[2016-12-30 16:42] #841 closed

[2016-12-30 16:43] hackebrot commented on #709
What's the status on this?

[2016-12-30 17:00] hackebrot commented on #851
Hi @tuxredux! 👋

Thank you for your feedback. I'm happy to hear that you find cookiecutter useful.

As to your question, hooks cannot modify the context at this point. They are being rendered though, so you could do something like the following in a hook (untested 😁 ):

[code]

[2016-12-30 17:01] hackebrot commented on #853
Thank you for your kind words @tuxredux! 🙇

[2016-12-30 17:07] hackebrot commented on #875
Hi @aryamccarthy! 👋

Thank you for opening an issue. I'm afraid I don't quite understand.

Are you referring to the built-in readlin package?

[2016-12-30 21:01] aryamccarthy commented on #875
Hi, @hackebrot! Thanks for writing.

Yes, that's the one I'm referring to. [This StackOverflow discussion](http://stackoverflow.com/questions/8976452/h-in-python) explains that simply importing the `readline` package alters how `input()` works.

I have sloppy fingers, and I make mistakes when trying to set up my cookiecutter templates. Backspace and arrow keys working as expected would let me fix

[2016-12-30 21:29] hackebrot commented on #875
Cookiecutter uses [click](https://github.com/pallets/click) for prompting. We never call ``input()`` directly.

[2016-12-30 22:15] urosjarc commented on #822
@hackebrot : I change my focus to yeoman generator.

[2016-12-30 22:21] hackebrot commented on #822
Okay, fair enough! ☺️ I'm closing as a duple of #380 then.

[2016-12-30 22:21] #822 closed

[2016-12-31 14:50] michaeljoseph commented on #435
These are all closed now.

[2016-12-31 14:50] #435 closed

[2016-12-31 15:39] hackebrot commented on #435
@michaeljoseph 👍

[2017-01-01 14:59] vahndi opened #881 "Conditional variables"
Hi, thanks for the great library, I use a couple of the templates for loads of my work. I have a general question about cookiecutter that I couldn't find in the docs. Are you able to have conditional variables e.g. if one is specified then you can specify some more options?

Something like:

{"database": [
    {"mongodb": {
         "dbname": "test"
         "collection":"default"
         },

[2017-01-01 17:22] hackebrot commented on #881
Hi @vahndi! 👋

Thank you for your feedback. I am very happy to hear that you find cookiecutter useful. 😃

Currently cookiecutter does not support conditional variables as you describe them.

We do have plans for adding this and many more features to a new **cookiecutter.json** format. Unfortunately development and maintenance of this project is not funded, which is why we as a core team decided to

[2017-01-01 19:52] aryamccarthy commented on #875
Hmm. Is there a `click`-compatible way to improve this functionality?

[2017-01-01 22:50] vahndi commented on #881
Ok cool thanks for the clarification - just wanted to make sure I wasn't missing anything. The reason for the question is because I am developing a template web app generator similar to CICADA but with a significant amount of customization and I wanted to know where to draw the dividing line between cookiecutter and jinja2. I think I can use cookiecutter for the structural templates and jinja2 for

[2017-01-01 22:50] #881 closed

[2017-01-01 22:56] hackebrot commented on #881
Awesome!

FYI cookiecutter uses jinja2 under the hood. You can use the same syntax for your templates.

[2017-01-03 18:20] ssteinerx commented on #821
Unfortunately, `prompt.prompt_for_config` doesn't know anything about what is being asked; it just iterates through the given context and collects the specified information.

The 'context' is just the parsed `cookiecutter.json`, so there's no information there vis-à-vis validation of inputs.  The json just holds the prompts and default values.

Special-casing this one thing by name could be done b

[2017-01-03 21:55] hackebrot commented on #821
Thanks for investigating, @ssteinerx! 🙇

Sounds like another feature for #848 to me.

[2017-01-03 23:27] ssteinerx commented on #821
@hackebrot Yes, I didn't have time to read the spec, but this type of fail-fast should be built in somehow.

[2017-01-05 04:35] e-kolpakov opened #882 "Accepting default dict parameter value with no user input causes string "default" to be put into dict parameter"
* Cookiecutter version: 1.5
* Template project url: private repo, minimal example is attached
* Python version: 2.7.10
* Operating System: Mac OS X 10.10.5

### Description:

I'm using dict parameter and trying to let it use default value. When prompted, `[default]` is shown as dict parameter default value. Then, if I respond to prompt with:

1. Just enter (i.e. no user input) - project cutting fa

[2017-01-05 11:21] hackebrot commented on #882
Hi @e-kolpakov! 👋

Thank you for this detailed bug report. It helped me implement a fix in no time.

Can you please try out #884?

[2017-01-06 21:39] talwrii commented on #35
Hey, this tag has the duplicate but isn't a duplicate. I would remove the tag but I'm not allowed (only maintainers).

[2017-01-06 22:55] talwrii commented on #35
I've added a pull request for a first cut of this feature.

[2017-01-07 21:08] talwrii commented on #35
Oops, accidentally self-hooray-emoji'd my own messages while trying to work out what the emoji meant "Hmm, what does that pizza emoji mean?". Please ignore...

[2017-01-11 23:20] cheungnj opened #886 "tempfiles aren't removed"
After cleaning my `/tmp` directory, then running cookiecutter several times, it appears as though the temp files from [run_script_with_context](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/hooks.py#L115) aren't removed. Is this intended behavior?

[2017-01-11 23:24] cheungnj commented on #854
I guess I forgot to close this but I'm closing it in favor of #848

[2017-01-11 23:24] #854 closed

[2017-01-14 15:34] michaeljoseph commented on #886
Hi @cheungnj 👋

Many applications leave files in the `/tmp` directory- I don't think there's anything to be gained from `cookiecutter` deleting them.

[2017-01-14 15:34] #886 closed

[2017-01-14 15:49] hackebrot commented on #886
The OS will clean up the files eventually IIRC.

[2017-01-14 16:41] #882 closed

[2017-01-16 03:25] stevepiercy opened #888 "Cannot build docs per CONTRIBUTING.rst"
* Cookiecutter version: master branch
* Template project url: n/a
* Python version: n/a
* Operating System: n/a

### Description:

I cannot build the docs following the instructions in CONTRIBUTING.rst.

### What I've run:

1. Follow the instructions to install requirements, then build the docs: https://github.com/audreyr/cookiecutter/blob/master/CONTRIBUTING.rst#L76-L77
2. Error message:

[code]

[2017-01-17 02:51] goanpeca commented on #364
Yes, something like this would be nice. Is there any other way to define global context variables?

[2017-01-23 16:28] hetsch opened #891 "External templates via pre_gen_project.py"
* Cookiecutter version: `1.5`
* Template project url: `n/a`
* Python version: `3.6.0`
* Operating System: `OSX 10.11.6`

### Description:

I want to achieve is adding a file dynamically to the project templates via `pre_gen_project.py`. We have shared `Makefile` in our company that might change from time to time. My idea was to use the `pre_gen_project` hook to download the `Makefile` on the fly e

[2017-02-01 02:44] glassresistor opened #897 "Have optional files/folder"
* Cookiecutter version: All
* Template project url: None
* Python version: All
* Operating System: All

### Description:

Since cookiecutter uses Jinja2 for generating file names it should be possible to have optional files/folders with a syntax for example having a folder named `{% if cookiecutter.include_extra %}extra{% endif %}` would only make the folder and its contents if incldue_extra is Tr

[2017-02-01 02:46] pydanny commented on #897
This feature already works with Cookiecutter. It doesn't workork on Windows because of the limitative of their file system.

[2017-02-01 02:46] #897 closed

[2017-02-02 04:13] mjlyons opened #898 "Replay doesn't apply Choice Variables"
* Cookiecutter version: 1.5.0
* Template project url: private repo, but I can make an example if it helps
* Python version: 3.6.0
* Operating System: MacOS 10.12.3

### Description:

I'm trying to apply a replay file to a cookiecutter template that uses a [Choice Variable](http://cookiecutter.readthedocs.io/en/latest/advanced/choice_variables.html). The value of the Choice Variable is correctly re

[2017-02-02 04:35] mjlyons commented on #898
Sorry, my mistake -- I misunderstood how choice variables are applied (thought it would remember the index, instead changes the order). Sorry to bother you, thanks for the great tool!

[2017-02-02 04:35] #898 closed

[2017-02-02 17:23] eddie-dunn commented on #11
For anyone else looking here I would recommend using [raw blocks](http://jinja.pocoo.org/docs/dev/templates/#escaping) when working with larger jinja blocks inside cookiecutter.

E.g.:
[code]
yields
[code]

It was useful for me when generating Ansible templates with cookiecutter.

[2017-02-03 20:05] frispete opened #899 "Some packaging issues from an attempt to build for openSUSE"
* Cookiecutter version: 1.5.0
* Template project url: n/a
* Python version: 3.4.5
* Operating System: a bag of [openSUSE flavors](https://build.opensuse.org/package/show/home:frispete:python3/cookiecutter)

### Description:
I had a couple of issues here. It started with many test and doc dependencies not being listed in setup.py, here's what's needed to build:
[code]

Two tests failed:
[code]
If o

[2017-02-06 22:28] foxmk opened #900 "Support nested directory generation"
It would be nice to have support for creating directory hierarchies.

For example: template directory `{{cookiecutter.package_name}}` creates
`com/example/foo` if `coockiecutter.package_name` variable is `com.example.foo`.

An intuitive way would be `{{ cookiecutter.package_name | lower | replace('.', '/') }}`, but
it doesn't work properly. On Mac created directory is named `com/example/foo`
in Fi

[2017-02-10 07:03] artemnovichkov opened #902 "Add current date"
How to add current date as option?

[2017-02-10 18:19] hackebrot commented on #902
Hi @artemnovichkov! 👋

You can insert the current date and time using [jinja2-time](https://github.com/hackebrot/jinja2-time), which comes with cookiecutter.

[code]

Check out this [example](https://github.com/pytest-dev/cookiecutter-pytest-plugin/blob/master/pytest-%7B%7Bcookiecutter.plugin_name%7D%7D/licenses/MIT#L4).

[2017-02-10 20:53] #902 closed

[2017-02-11 04:25] artemnovichkov commented on #902
@hackebrot, thank you! I used `{% now 'local', '%d/%m/%Y' %}` for similar date format.

[2017-02-18 07:44] wujuguang opened #904 "TypeError: a bytes-like object is required, not 'str'"
* Cookiecutter version:1.5.1
* Template project url: https://github.com/wujuguang/bucket-utils
* Python version: 3.5.2
* Operating System: ubuntu 16.04

### What I've run:

Pdb debug info:

[2017-02-18 08:18] #904 closed

[2017-02-18 08:19] wujuguang commented on #904
url error!

[2017-02-20 13:24] bdarksider commented on #748
I would like to work on this issue. I have experience with functional programming but I have never contributed in open source. Can someone help me along the way?

[2017-03-02 01:38] gnestor commented on #784
I'd like to chime in with a solution I came up with:

[code]

* `--output-dir ..` allows us to run the cookiecutter in the repo root vs. the parent directory because cookiecutter will always render output in a child directory of the `output-dir`.
* `--config-file cookiecutter.yaml` will run the cookiecutter with the original inputs which are persisted to `.cookiecutter.yaml` in the repo root (this

[2017-03-02 08:10] rmedaer commented on #784
@gnestor I'm doing quiet the same excepted that (such as @aroig ) I'm using Git to applu the upgrade in a separate branch and then a merge.

Furthermore I implemented the following option: "strip directory" #894. When option is given it apply the template directly on `output-dir` instead of creating a sub-directory in `output-dir`.

[2017-03-02 09:33] aroig commented on #784
@gnestor I know you can re-render your project on top of the working directory. The problem with this approach is that this is useless once your project modifies any of the rendered files, as they will be overwritten by cookiecutter, and would need manual intervention.

The point of my original post was using git to handle this situation via merges from the template branch. I can add a lot of cont

[2017-03-02 10:30] rmedaer commented on #784
@aroig I'm building a HTTP API which is using Git to manage directory content and Cookiecutter to template it. I'm doing quiet the same than your `cookiecutter-update.py` script for the upgrade.
Let me explain the process I'm implementing (WIP)...

## Context
My HTTP API is managing a bunch of "projects" which contains various content. Each project is a Git repository. Each time you're doing an AP

[2017-03-02 10:53] aroig commented on #784
@rmedaer That sounds cool! and the git boilerplate, quite similar to what I do.

A couple of comments:

I'm even more convinced now that having this git boilerplate in cookiecutter as a low level thing, might be a good idea. Maybe something like a `cookiecutter --update-branch` option, that given a `cookiecutter.json` and a working directory, does the git trick if it finds a `cookiecutter/template

[2017-03-02 12:06] rmedaer commented on #784
@aroig I agree with you ! And btw, now I'm reading myself xor your comments, here some additional idea/comment...

Assuming we are implementing update feature exclusively with Git, why should we dump the context in `.cookiecutter.json` since it's only used by update mechanism. I mean we could put the context in Git Note as well. In this case, each "pre-merge-commit" (what I'm calling "apply templa

[2017-03-02 12:36] rmedaer commented on #784
I would suggest the following arguments:
- `--git`: To apply cookiecutter with Git features: `cookiecutter --git (...)`.
- `--git-template-branch=<branch>`: by default it SHOULD use branch `template`, but I guess some of you would like to use another one.
- `--update`: Update using template branch or raise error.
   Furthermore, we should be able to give a update reference (tag, branch, release).

[2017-03-02 15:48] aroig commented on #784
After thinking a bit more about it, I'm not sure I like sticking stuff in git notes. I think I prefer having it in files within the repo. But that might just be a personal bias.

Anyway, there are pros and cons: sticking it in the repo, implies that other people cloning it may be able to use cookiecutter with it (assuming the template url is public). On the othe hand, the git notes thing may enabl

[2017-03-02 16:09] rmedaer commented on #784
Well as you an see in Github references, I made a small POC. I don't want to start developing a lot of crappy stuff in Cookiecutter, so I created the [following project: milhoja](https://github.com/rmedaer/milhoja). I saw you coming from Spain and I like cooking with cookiecutter, I called that **Milhoja**. ;-)

In the [CLI module](https://github.com/rmedaer/milhoja/blob/develop/milhoja/cli.py) yo

[2017-03-02 16:11] rmedaer commented on #784
@aroig To answer your comment, even we are dumping context in a Git Note, you still be able to dump it in `.cookiecutter.json` file.

[2017-03-06 01:50] davidwtbuxton commented on #865
What I would like is support for copying all symlinks as-is, not just symlinks to existing directories.

My use case is I have symlinks in the cooiecutter template that use relative paths to point to directories that do not exist (specifically, to directories that will be created by `npm install` in a new project).

In that situation, symlinks are added to os.walk's files list (not dirs list), and

[2017-03-07 16:31] muraii opened #909 "Allow to override creating project directory"
* Cookiecutter version: 1.5.1
* Template project url: https://github.com/drivendata/cookiecutter-data-science
* Python version: 3.6
* Operating System: macOS 10.10.5

### Description:

Allow user to create project scaffolding into an existing directory.

I would like to set up a project environment using conda environments as well as cookiecutter. Each tool is built to create a project directory a

[2017-03-09 05:13] tedmiston commented on #126
I'm currently working around lack of boolean support by using a choice variable with strings (`["yes", "no"]`) and `==` string comparisons in Jinja.  This might help others who wind up here looking for bool support.

[2017-03-09 05:27] tedmiston commented on #126
Another reasonable option, perhaps cleaner, is to use 0 and 1 with Jinja's int filter.  For example...

cookiecutter.json:

[code]

or

[code]

A file in your cookiecutter template:

[code]

[2017-03-12 20:55] mivade commented on #810
A possibly better feature would be a way to configure files to explicitly exclude. As far as I can tell, this is not possible yet.

[2017-03-14 14:39] coreysnyder04 opened #913 "Conditional follow-up questions based on prior answers"
* Cookiecutter version: Cookiecutter 1.5.1
* Python version: Python 3.6.0
* Operating System: OSX

### Description:
Is it possible to do conditional follow-up questions based on responses to previous questions? For instance:
Is there an empty repository created for this new project?  Yes
What is the repository URL?
Would you like us to auto-push to this Repo?

Where if you said **No** to the first

[2017-03-14 21:48] pydanny commented on #913
No. As much as we would like to incorporate this functionality into Cookiecutter, it's a lot of work to not just implement, but review across all platforms. We've yet to get any official sponsorship, which is what one of the maintainers would need in order to see this feature (and one of the pull requests for it) implemented.

What you can do for now is implement this behavior in a posthook. It re

[2017-03-14 21:48] #913 closed

[2017-03-15 16:31] nonatomiclabs commented on #544
What about a screenshot of the PyCon website, with the blue background?

![pycon-logo](https://cloud.githubusercontent.com/assets/6297260/23959329/2f1e604c-09a5-11e7-968b-a5b51c9d948e.png)

[2017-03-16 10:27] rmedaer commented on #909
Hi @muraii
I made a PR (#907) in order to tackle this (kind of) issue. Basically I added the option "--strip" which allow you to strip cookiecutter directory (e.g. `cookiecutter --strip -o <your-parent-directory> <your-cookiecutter>` ).
With existing option `-f` it allows you to override content of given directory.

Your process would be:

  * run `conda create -n <env name> <conda program>`
  * r

[2017-03-16 12:40] rmedaer commented on #364
Hi guys,

Another way to alter context would be from **pre** hook script. The `pre_gen_project` could write a JSON object on stdout. Then Cookiecutter could read this object and (deep) merge it to input context.

Btw passing through stdin/stdout could be also an improvement in `post_gen_project` (instead of templating using Jinja).

This mechanism is used by softwares like Ansible to execute modul

[2017-03-22 13:34] sr-murthy opened #918 "Post-creation hook does not run"
* Cookiecutter version: 1.5.1
* Template project url: private Git repository
* Python version: 2.7.10
* Operating System: OS X 10.10.5, Ubuntu 16.04 LTS

### Description:

// REPLACE ME: I've added a `hooks/post_gen_hook.py`, which is an executable Python 2.7 script, to the project slug directory in the source repo and run cookiecutter but this hook does not run. The hook creates a Git repo inside

[2017-03-22 16:26] hackebrot commented on #918
Hi @sr-murthy! 👋

Your Python script needs to be renamed to ``hooks/post_gen_project.py``.

Find out more in the [hooks documentation](https://cookiecutter.readthedocs.io/en/latest/advanced/hooks.html).

I'm closing this issue for now. Please get in touch if this doesn't work.

[2017-03-22 16:26] #918 closed

[2017-03-22 17:02] sr-murthy commented on #918
Thanks, it works.

[2017-03-23 15:54] wrrrrn opened #919 "brew install installs an old version"
* Cookiecutter version: cookiecutter-1.4.0
* Template project url:
* Python version:
* Operating System: OSX 10.11.2

### Description:

brew currently installs 1.4.0, the latest is 1.5.1

### What I've run:

[code]

[2017-03-23 16:21] hackebrot commented on #919
Hi @wrrrrn! 👋

Can you please run ``$ brew update`` and try again?

[code]

[2017-03-23 16:33] wrrrrn commented on #919
Sorted! Thanks for the snappy response @hackebrot

[2017-03-23 16:46] hackebrot commented on #919
Cool! Have a good one 🍪

[2017-03-23 16:46] #919 closed

[2017-03-24 17:10] kevindiamond opened #920 "Sponsorship for Cookiecutter"
Opening this as a discussion area for how to help fund efforts for cookiecutter to improve and tackle things like #848.

Not sure how much "sponsorship" is needed, but here is a site for allowing the crowd to contribute as I know my organization would be interested in helping... (I have no affiliation with this site, but just found it while searching for how other projects handle this).

https://o

[2017-03-24 23:35] stevepiercy commented on #920
I presume that cookiecutter maintainers suffer from the usual OSS project problems of not having enough ~fresh meat from human bodies~ people who have time available who can commit to review and merge PRs. That offer of sponsorship is very valuable.

There are numerous entities which can provide fiscal management and sponsorship. They usually charge around 10% of revenue as a management fee. Many

[2017-03-24 23:39] stevepiercy commented on #869
Closed by merging #880

[2017-03-24 23:39] #869 closed

[2017-03-31 17:55] harilalpatel opened #924 "Test"
* Cookiecutter version:
* Template project url:
* Python version:
* Operating System:

### Description:

// REPLACE ME: What are you trying to get done, what has happened, what went wrong, and what did you expect?

### What I've run:

[code]

[2017-03-31 19:14] hackebrot commented on #924
Hi @harilalpatel! 👋

It worked - you successfully created an issue. 👍

I'm closing this but, but feel free to comment if you have questions regarding cookiecutter.

[2017-03-31 19:14] #924 closed

[2017-04-01 16:58] hackebrot commented on #175
Closing this in favor of #848, as it does support user inout validation based on types and regex patterns.

[2017-04-01 16:58] #175 closed

[2017-04-03 19:06] muraii commented on #909
Please excuse the delay in testing. And thank you for adding `--strip`. It works exactly as I'd hoped.

Cheers!

[2017-04-03 19:06] #909 closed

[2017-04-12 09:57] jgonggrijp commented on #723
In the OP:

How does that work, and why does it not work on Windows?

[2017-04-12 12:40] plus500s opened #928 "TypeError: 'NoneType' object is not subscriptable when starting a project"
* Cookiecutter version: 1.5.1
* Template project url: https://github.com/pydanny/cookiecutter-django
* Python version: Python 3.5.3 (default, Jan 26 2017, 13:12:44)
* Operating System: OSX

### Description:
Got the following after

`cookiecutter https://github.com/pydanny/cookiecutter-django`
Relevant issue posted https://github.com/pydanny/cookiecutter-django/issues/1118
[code]
### What I've run:

[2017-04-12 17:30] pydanny commented on #928
This has to do with breaking changes in `chardet`. Please do:

[code]

We hope to have a new release of Cookiecutter out soon that addresses this problem.

[2017-04-12 17:41] pydanny commented on #920
Here's my quick vote on the options listed by @stevepiercy, plus Patreon:

* **Patreon** is my preference
* Open Collective is an option
* Software Freedom Conservancy would be my third option

The ones I'm not so sure about:

* The link to School Factory returns a 404
* Python Software Foundation is a nice bunch of people, but the Cookiecutter maintainers would like more control over how finances

[2017-04-12 20:07] pydanny commented on #928
`binaryornot` and `chardet` have been updated to address this situation. I'll see about pushing downstream implementations such as Conda and Homebrew.

[2017-04-12 20:07] #928 closed

[2017-04-13 13:11] bittner commented on #865
According to my analysis the culprit of this behavior is [`shutil.copytree`](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/generate.py#L314). In Python 3.3 this function also causes the following error (for a symlink `framework` to a directory):
[code]
There is a bug report on the Python bug tracker for this issue: https://bugs.python.org/issue21697

According to https://github.

[2017-04-17 06:17] hackebrot commented on #544
I'm closing this now since @purplediane added a note in #720 and it's 2017 😛

Thanks everyone 🍪

[2017-04-17 06:17] #544 closed

[2017-04-17 06:19] hackebrot commented on #708
#735 👍

[2017-04-17 06:19] #708 closed

[2017-04-17 06:22] hackebrot commented on #30
Closing this in favor of #848

[2017-04-17 06:22] #30 closed

[2017-04-20 04:13] divick commented on #706
+1

[2017-05-02 20:51] glasserc opened #936 "Escaping is somewhat ad-hoc"
* Cookiecutter version: 1.5.1 (installed using pip --user)
* Template project url: https://github.com/Kinto/cookiecutter-kinto-plugin and https://github.com/audreyr/cookiecutter-pypackage/
* Python version: Python 2.7
* Operating System: Fedora 25

### Description:

I tried generating a Python project using a friend's cookiecutter template and gave it the project description `Don't Delete storage-

[2017-05-09 06:29] eyalev opened #937 "Unclear documentation"
https://github.com/audreyr/cookiecutter/blob/master/docs/advanced/copy_without_render.rst

[2017-05-09 06:35] eyalev commented on #937
I suggest to remove 'mould'
PR: https://github.com/audreyr/cookiecutter/pull/938

[2017-05-09 15:27] eyalev opened #939 "Broken link"
In: https://github.com/audreyr/cookiecutter/blob/master/docs/contributor_testing.rst

This link gets 404: https://pytest.org/latest/usage.html#specifying-tests-selecting-tests

[2017-05-10 21:06] #939 closed

[2017-05-10 22:27] hackebrot commented on #937
Thanks 😄 I merged #938 earlier.

[2017-05-10 22:27] #937 closed

[2017-05-12 17:46] njvack opened #942 "Explain how cookiecutter finds template directory"
I'm trying to learn cookiecutter, and in the tutorials and such, it doesn't explain how it chooses a template directory. It's just kind of magic that it somehow knows to look for ```{{cookiecutter.project_slug}}``` or any of a variety of other values that are used in other cookiecutter examples.

Source-diving led me to `find.py` and `find_template()` which suggest that it's the first jinja-like t

[2017-05-12 21:22] jwodder commented on #936
Jinja2 already has a way to handle this: Use the [`format`](http://jinja.pocoo.org/docs/dev/templates/#format) filter to `repr`ize your variables, e.g.:

[code]

The problem is getting template authors to use this.

[2017-05-12 22:19] pydanny commented on #936
We can't control how template authors create templates. What we can do is attempt to have types, something that's been in the works for a long time. Getting types to work the way we want across all platform's isn't a trivial amount of work. And that's a problem. Myself, @hackebrot, and the other maintainers are unpaid volunteers. We just don't have the time to implement the solution to our satisfa

[2017-05-12 22:55] hackebrot commented on #920
I created a [patreon page](https://www.patreon.com/hackebrot) for my work on Cookiecutter! 💵 🍪

[2017-05-13 02:38] Vampire opened #943 "template directory with pipe breaks on windows"
* Cookiecutter version: 1.5.1
* Template project url: gh:vintasoftware/cookiecutter-tapioca
* Python version: 3.5
* Operating System: Windows Python called from Cygwin

### Description:

Somehow the pipe character in the filename (not the best idea probably) somehow gets read as `\uf07c` which then of course is not correctly parsed.

### What I've run:

[code]

[2017-05-13 19:11] SapanaJadhav commented on #900
Can i take this issue to work?

[2017-05-16 16:56] pjbull opened #947 "Support symlinks on Windows with Python < 3.2"
Cookiecutter currently raises `NoSymlinksOnWindowsPythonBefore32` when it finds a symlink on Windows systems with Python < 3.2.

For context, see:
 - [Original Issue](https://github.com/audreyr/cookiecutter/issues/865)
 - [Rejected pull request with custom Win32 code](https://github.com/audreyr/cookiecutter/pull/868)
 - [Accepted pull request for symlinks with `NoSymlinksOnWindowsPythonBefore32`](

[2017-05-17 13:11] Skyross opened #948 "Feature request: add commands support for Cookiecutters"
Hi guys!

Thank you for a great package!
Sorry if I missed with some docs but I was not able to find any solution in my case.
I tried to find a way to create some parts of an already existed project. The usage example is custom boilerplate for Django app (`python manage.py create_app <app_name>` not the option in my case).

I was looking some functionality like [Angular Fullstack generator for Yeo

[2017-05-25 19:56] #377 closed

[2017-05-25 21:05] hackebrot commented on #948
Hi @Skyross! 👋

I'm not familiar with the commands feature of yeoman - but will have a look when I find the time. Thank you for the links. What commands are you thinking of?

On a side note: @audreyr, the original creator of this project is not a *"guy"*, so are other contributors: It's better to use *"people"* or *"folks"* when interacting with the community 😃

[2017-05-29 19:13] roryhr opened #953 "Feature Request: Julia"
I've been around Julia long enough to want to make a package but not long enough to know the best practices so a template would be really helpful.

[2017-05-29 21:31] hackebrot commented on #953
Hey @roryhr! 👋

Although there are [a few cookiecutter templates](https://github.com/audreyr/cookiecutter#cookiecutter-specials) that the cookiecutter core team maintains, this is the wrong place for this. The [templates listed on our README](https://github.com/audreyr/cookiecutter#a-pantry-full-of-cookiecutters) are being developed by the wider community and live outside this project.

Let me for

[2017-05-29 21:31] #953 closed

[2017-05-30 19:33] jmdacruz commented on #898
@mjlyons Did you manage to override a choice variable using `extra_context`? I'm also using the API rather than the CLI, and I have a use case in which I want to populate the list of choices dynamically.

[2017-05-31 08:49] Skyross commented on #948
@hackebrot Thank you! I will take into account!
I'm talking about commands that run rendering of `sub-templates` in the same way like it templating the whole project from the scratch.

[2017-06-02 07:45] tflorac opened #955 "Getting absolute path of generated directory"
Hi,
I need to create a cookiecutter with configuration files containing absolute paths to some generated files.
How can I get this absolute path (without asking user to get it)?
Best regards,
Thierry

[2017-06-04 09:33] hackebrot commented on #955
Hi @tflorac! 👋

I think the best way to solve this is using jinja2 filters in the template and define a local variable. Unfortunately there is no built-in "absolute path" filter in jinja2, so you would have to write an extension.

[2017-06-04 09:37] hackebrot commented on #943
Hi @Vampire! 👋

I'm not sure what we can do about this. Any ideas @filipeximenes?

[2017-06-04 09:40] hackebrot commented on #942
Hi @njvack! 👋

That's a very good point. Thank you for the suggestion and the feedback, happy to hear that you like cookiecutter. 😊

[2017-06-04 09:42] hackebrot commented on #920
Hey @kevindiamond! 👋

Any updates from your organization regarding sponsorship for [cookiecutter development](https://www.patreon.com/hackebrot)?

[2017-06-04 09:42] hackebrot commented on #955
Would be also really nice to have path variables in #848 and specify whether they are relative or absolute 🤔

[2017-06-04 11:25] tflorac commented on #955
I finally defined a "post hook" which replaces special "tags" in generated
files...
Seems to be the more simple way to handle my needs, actually...  :/

2017-06-04 11:42 GMT+02:00 Raphael Pierzina <notifications@github.com>:

--
http://www.imagesdusport.com -- http://www.ztfy.org

[2017-06-04 11:58] Vampire commented on #943
There are many possibilities. For example change the conventions, so that only portable characters are used in the patterns, or do not have the pattern in the name, but in a file as text, or work around the encoding issue by handling the special cases. :-)

[2017-06-04 12:03] hackebrot commented on #900
Hi @foxmk! 👋

Thank you for your suggestion. As of now, this won't work out-of-the-box and will need some pre- and post-generation hooks. I have created an [example cookiecutter](https://github.com/hackebrot/cookiecutter-examples/tree/master/create-directories) to demonstrate what I mean by that.

Thank you for your interest, @SapanaJadhav! That's awesome 👍

I'm not sure how we want to solve this,

[2017-06-04 12:20] hackebrot commented on #943
Right, but "only portable characters in patterns" and "no patterns in the name" fall under the responsibility of template authors. 🤔

I can't seem to find the line from your traceback that is causing the issue, neither on 1.5.1 nor master. Does the same problem occur with master on your setup?

[2017-06-04 14:56] filipeximenes commented on #943
Oh, so the 'pipes' are the issue. I didn't know that this was going to break on Windows. The only thing that comes to mind from cookiecutter-tapioca side is to stop doing operations in file names. The downside is that it will need to instruct users how to write the name in the correct format.

[2017-06-05 07:43] hackebrot commented on #712
Hey @TylerLubeck! 👋

Apologies for the late response. I was referring to #750 and #713, I think 🤔

Closing this now. Thank you 😄

[2017-06-05 07:43] #712 closed

[2017-06-05 07:45] hackebrot commented on #810
@mivade I agree. Would be a nice feature to add to #848

[2017-06-07 15:39] nevillco opened #959 "Unexpected Ruby Directory Found in Generated Project"
* Cookiecutter version: 1.5.1
* Template project url: https://github.com/Raizlabs/ios-template
* Python version: 2.7.13
* Operating System: macOS Sierra 10.12.5

### Description:

Ran cookiecutter successfully with the above (iOS) template. It generated all of the expected files, but there was also a `ruby/2.0.0` directory with what seems to be a full ruby install. Just wondering why this director

[2017-06-07 19:30] hackebrot commented on #959
Hi @nevillco! 👋

Cookiecutter itself does not create this particular directory or install any applications or packages. It seems the template, that you used, runs a number of ``bundle`` commands in the [post_gen_project hook](https://github.com/Raizlabs/ios-template/blob/master/hooks/post_gen_project.sh). I'm not a ruby expert, but that would be my starting point for debugging why it gets created.

[2017-06-07 19:30] #959 closed

[2017-06-07 19:56] nevillco commented on #959
Ah, that seems to be the problem! As someone far less of a ruby expert than you, thanks for narrowing that down.

[2017-06-07 20:15] hackebrot commented on #959
Sure thing, you're welcome! 🍪

[2017-06-09 08:10] bersace commented on #104
I workaround this in my dotfiles to unclutter `~/`. https://github.com/bersace/dotfiles/commit/0bbcc2457b578aa9fde8593ca724442c2e7f27e3

That would be nice to support both rc location and move to cache home.

[2017-06-09 16:21] scanny commented on #104
Nice workaround @bersace! I think I'll do it that way as well :)

[2017-06-09 16:33] bersace commented on #104
@scanny you're welcome ! :)

[2017-06-13 13:59] hackebrot opened #960 "Update troubleshooting docs"
Our [troubleshooting page](https://cookiecutter.readthedocs.io/en/latest/troubleshooting.html) has a fairly out-of-date and has a ``TODO`` in it, however it's the first page than we send users to in our README.

Some of the questions/feedback that we regularly get:
- *I would like to use a list in my cookiecutter.json, but it is interpreted as a choice*
- *Cookiecutter cannot load my .cookiecutter

[2017-06-21 05:54] japrogramer opened #962 "dev.yml error with gulp, doesn't seem to be installed in image"
* Cookiecutter version: 1.5.1
* Template project url:
* Python version: 3.6.1
* Operating System: Linux The_Black_Knight 4.11.5-1-ARCH #1 SMP PREEMPT Wed Jun 14 16:19:27 CEST 2017 x86_64 GNU/Linux

### Description:

I am trying to get the dev.yml build to get up

### What I've run:
$docker-compose -f dev.yml build
$docker-compose -f dev.yml up
[code]

[2017-06-21 07:47] hackebrot commented on #962
Hey @japrogramer! 👋

Cookiecutter generates projects based on templates and does not control what is installed in your Docker image. This sounds like there is an issue with a missing dependency in the template. Can you please raise this issue with the template project?

Thank you!

[2017-06-21 07:47] #962 closed

[2017-06-21 15:41] japrogramer commented on #962
https://github.com/pydanny/cookiecutter-django
This is the template url that i used. for whatever reason i didn't set it initially in my bug report.
Im going to open an issue with them too.

[2017-06-26 06:47] mido3ds commented on #710
link is dead

[2017-06-26 07:17] hackebrot commented on #710
https://github.com/audreyr/cookiecutter/tree/master/docs/advanced

[2017-06-30 00:37] kc1 opened #965 "Cookiecutter-a-valid-repository-for-x-could-not-be-found-in-the-following-locat"
* Cookiecutter version: Cookiecutter 1.5.1
* Template project url:
* Python version: 2.7.13
* Operating System: win 10

https://stackoverflow.com/questions/44834547/cookiecutter-a-valid-repository-for-x-could-not-be-found-in-the-following-locat

[2017-06-30 01:10] luzfcb commented on #965
You even created the template and want to generate a new spider using it?
if yes, please, upload you cookiecutter template to github and send the url of repository.

Cookiecutter expect that the target path contains a cookiecuter.json file on root of path

Cookiecutter does not run your spider.

[2017-06-30 14:36] noirbizarre opened #966 "gh: prefix doesn't work anymore"
* Cookiecutter version: 1.5.1
* Template project url: `gh:*`
* Python version: 2.7.13
* Operating System: Linux

### Description:

cookiecutter does not honor prefixes anymore.

### What I've run:

Simply testing the example from the README doesn't work as expected:

[code]
The same commands using the full repository path works as expected:

[code]

[2017-06-30 15:32] hackebrot commented on #966
Hi @noirbizarre! 👋

Thank you for pointing this out. I noticed this too and have done some work to address this, but don't have the time wrap up my PR at the moment.

You probably have ``abbreviations`` in your ``~/.cookiecutterrc``, right? The current implementation overwrites config keys, which means it discards the default values if you have any ``abbreviations`` in your user config.

[2017-06-30 16:59] kc1 commented on #965
Still does not work with remote repo on bitbucket : https://stackoverflow.com/questions/44851579/cookiecutter-a-valid-repository-not-found-with-cloning-remote-repo

[2017-06-30 17:02] pydanny commented on #965
Can you:

* share your repo
* Paste the error message here

These are needed to diagnose your problem.

[2017-07-01 00:56] kc1 commented on #965
https://github.com/kc1/ccspider is repo

$ cookiecutter https://github.com/kc1/ccspider
	A valid repository for "https://github.com/kc1/ccspider" could not be found in the following locations:
	c:\Users\ExamPle\.cookiecutters\ccspider

[2017-07-01 01:56] pydanny commented on #965
Rename the `cookiecutter` file to `cookiecutter.json`

[2017-07-01 01:56] #965 closed

[2017-07-01 12:25] kc1 commented on #965
Thank you!

[2017-07-02 11:02] hackebrot commented on #966
Hey @noirbizarre, can you please review and/or try out #967?

[2017-07-02 14:56] noirbizarre commented on #966
Yes, you're right, I had abbreviations in my `~/.cookiecutterrc`.
I reviewed your PR :+1:

[2017-07-07 06:55] #966 closed

[2017-07-07 22:49] Varriount opened #970 "Use YAML for cookiecutter configuration"
The current "configuration" file for cookiecutter templates uses the JSON format. While this is fine for simple templates, it quickly falls apart for more complex requirements:
    - Limited prompt capabilities (only single-line freeform input or single-choice selection)
    - No comments
    - No multi-line strings (useful for long jinja templates)

Using YAML allows for [tags](http://www.yaml.or

[2017-07-07 23:10] luzfcb commented on #970
Comparison of configuration file languages:
https://gist.github.com/njsmith/78f68204c5d969f8c8bc645ef77d4a8f

[2017-07-08 02:37] Varriount commented on #970
The main draw for YAML is the ability to tag pieces of data in the document. The next-best format would be TOML (which at least has comments and multi-line strings).
Using the INI file format would be the worst choice. Every project that uses it eventually runs into some sort of limitation (everything's a string or possibly a list, limited nested) and has to create hacks.

[2017-07-18 16:38] rgitzelub opened #972 "Is it possible to pass environment overrides to Jinja?"
* Cookiecutter version: 1.5.1
* Template project url:
* Python version: 2.7.13
* Operating System:  OSX 10.12.5

### Description:

I am attempting to use Cookiecutter to generate some files for Ansible. Since they are both Jinja-based, and use the same delimiters, CC is trying to replace not just the {{cookiecutter:*}} placeholders, but the Ansible placeholders as well. :(

For example, something

[2017-07-18 16:52] luzfcb commented on #972
A simpler way to make cookiecutter not render jinja2 variables is to put what should not be processed inside `{% raw %}{% endraw %}` blocks

[code]

a sample: https://github.com/HackSoftware/cookiecutter-django-ansible/blob/master/%7B%7B%20cookiecutter.ansible_project_slug%20%7D%7D/deploy.yml

[2017-07-18 16:58] rgitzelub commented on #972
Ah!  I'd seen that approach for single variables, but hadn't thought to use it for blocks, as in the linked example.

I've _hundreds_ of Ansible placeholders, so wrapping each one would be a lot of work.  I'll take a look to see how inter-mixed the two kinds of placeholders are.

[2017-07-19 17:23] rgitzelub commented on #972
There's also a PR that apparently fixes this: https://github.com/audreyr/cookiecutter/pull/946/files (based on https://github.com/audreyr/cookiecutter/issues/704)

[2017-07-25 10:43] brutus commented on #970
I came here looking for YAML support, because writing JSON is so tedious. It's unfortunate to see YAML support was dropped, but understandable.

I have to agree with @Varriount, though, INI support would be the worst choice as an alternative format — it is not standardized in any way and not that big of a gain in terms of writability. __TOML__ might be a way better alternative.

I think __HJSON__

[2017-07-25 12:16] milonimrod opened #973 "mixed hooks (both sh and py) in the same project"
* Cookiecutter version: 1.5.1
* Python version: 2.7.13
* Operating System: Linux

### Description:

I was wandering if there is an option to add the ability to have both _sh_ and _py_ hook scripts in the package. It seems very straight forward to implement.

Thank you,
Nimrod

[2017-07-25 21:05] milonimrod commented on #973
I've created a pull request about it #974

[2017-08-03 13:55] lieutdan13 opened #975 "Do not remove existing directory if UndefinedError is thrown"
* Cookiecutter version: cookiecutter==1.5.1
* Template project url: irrelevant
* Python version: Python 2.7.6
* Operating System: Ubuntu 14.04

### Description:

When I run cookiecutter with the `-f` option against an existing output directory and I happen to have an undefined variable in my template, cookiecutter removes my directory via https://github.com/audreyr/cookiecutter/blob/2661e61491b68e

[2017-08-04 14:56] michaeljoseph commented on #975
Hi @lieutdan13,

I'm closing this as a duplicate of #629, please have a look at the associated PR: #964.

Thanks for the issue :)

[2017-08-04 14:56] #975 closed

[2017-08-04 16:16] lieutdan13 commented on #975
I did my due diligence and looked through all open issues for this, but I must have missed #629

[2017-08-04 16:49] michaeljoseph commented on #975
No worries, thank you cutting code to fix this anyways... ❤️

[2017-08-05 19:43] #629 closed

[2017-08-06 20:12] mjlyons commented on #898
@jmdacruz Sorry about the absurdly late reply, lost access to my personal development machine and had to get another. Yes this does work for me, the thing that tripped me up is that cookiecutter changes the order of choices (to always make the default the first, I believe). Is this working for you now?

[2017-08-06 23:58] jmdacruz commented on #898
No worries @mjlyons! Yes, this is now working for me too.

[2017-08-08 15:22] theodesp commented on #348
Maybe a more sensible approach is to check if the repo exists before cloning so we can extract a better error handling scenario?

[2017-08-08 15:22] theodesp commented on #348
I'm willing to work on this if its ok

[2017-08-08 15:39] theodesp commented on #960
I would like to contribute on this as I've used cookiecutter a lot on my projects.

[2017-08-09 12:16] theodesp commented on #821
I see that we can decorate the `prompt_for_config` with something like a context aware prompt that will trigger extra actions when detecting special keys.

For example if it detects a key named `project_slug` will trigger a callback to check if the folder exists.

I think it's possible to do with out breaking changes. That will be a chance to refactor the `prompt.py`

[2017-08-09 12:30] ssteinerx commented on #821
@theodesp I haven't looked at this in quite a while (like 8 months!), but I remember thinking that I'd want to have a way of indicating that `prompt` invokes `action-type` validator `action-type-validator` e.g.:

I haven't got time to look right this second, but I vaguely remember wanting something like:

prompt("Create the docs directory?", action_type="create-directory", validator="prompt-overwr

[2017-08-09 12:52] theodesp commented on #821
Yes thats another good idea. As you said `prompt.prompt_for_config` doesn't know anything about what is being asked: So we need to keep the existing functionality. Maybe if we pass a map of keys to validators as a parameter that will get called if the particular key was prompted and filled as I dont see any support for validation in `click prompt` http://click.pocoo.org/5/api/#click.prompt

[2017-08-09 19:05] michaeljoseph commented on #863
Fixed by #864.

[2017-08-09 19:05] #863 closed

[2017-08-09 19:21] michaeljoseph commented on #973
I'm not entirely convinced of the generic utility of this functionality?

Could you give us an example use-case?

[2017-08-09 20:54] milonimrod commented on #973
Yes, I have an example (which is the reason I found the need). In our fork we wanted to run after each creation:
1. Git initiation and adding of files
2. Registration of the project in internal remote git server
3. Run a few calls to several APIs
4. Unit a connection to docker

Some of the above are suited for python scripts and some are for bash scripts. So to make the development and maintenance

[2017-08-09 22:32] michaeljoseph commented on #973
I'm still not convinced that we should be adding this as a core feature for a somewhat minor (IMO) convenience.
🤔 @hackebrot @pydanny @audreyr ?

[2017-08-09 22:33] michaeljoseph commented on #973
@milonimrod #824 may be a solution to your problem by allowing some organisation of utility hook code.

[2017-08-09 22:34] michaeljoseph commented on #824
@theodesp would you like to have a go at implementing this? 🙏

[2017-08-10 06:52] milonimrod commented on #973
@michaeljoseph I'm not sure how #824 may help as it still require that i'll implement either a python script or a bash script. then I'll need to orchestrate all the calls.

The only caveat that I see in my approach is that it is not clear which script runs first. I would suggest to extend the hooks scripting into an approach like linux services. I mean that the name of the hook will determine the

[2017-08-10 06:53] theodesp commented on #824
OK I will give it a go

[2017-08-14 10:17] theodesp opened #978 "Maintain Code coverage to 100%"
* Cookiecutter version: latest
* Template project url:
* Python version: 3..6
* Operating System: Macos

### Description:
Code coverage is 94%. The following 2 lines of code are not tested based on the latest coverage report.

![screen shot 2017-08-14 at 11 13 47](https://user-images.githubusercontent.com/328805/29267753-fc072fc2-80e1-11e7-9390-9485d43427ca.png)

### What I've run:

[code]

We nee

[2017-08-14 10:21] theodesp opened #979 "Add CODEOWNERS to Project"
* Cookiecutter version: latest
* Template project url:
* Python version: 3.6
* Operating System: MacOs Sierra

### Description:

We need to add a CODEOWNERS file
https://github.com/blog/2392-introducing-code-owners
to simplify code reviews on PULL REQUESTS

### What I've run:

[2017-08-14 16:37] michaeljoseph commented on #978
Hi @theodesp,

Those lines are covered by appveyor / windows test runs: https://ci.appveyor.com/project/audreyr/cookiecutter/build/1.0.1605/job/r1w53jswcoemgw7j#L140

Good looking out though 🍪

[2017-08-14 16:37] #978 closed

[2017-08-17 05:59] theodesp commented on #824
PR https://github.com/audreyr/cookiecutter/pull/980

[2017-08-17 07:00] henrahmagix commented on #824
Thanks @theodesp!

[2017-08-18 13:45] Vampire commented on #943
@hackebrot I just tried with `master` and it is happening just the same here. This is the workaround I used to get the tapioca one working here: ecb6db9d22231262dc5a03891cf668631bad9dc9. But this only handles pipe characters, I don't know whether there may be other characters affected or whether this is a good workaround in general. It just worked for me for this one case I tested.

You said

but

[2017-08-18 14:14] pydanny commented on #943
This is a limitation of Windows and outside the scope of Cookiecutter. There's literally nothing we can do lunch.

I advise this ticket be closed and a now put into the documentation about the limitations of Windows forwardness filenames and social characters.

[2017-08-18 14:56] Vampire commented on #943
@pydanny why is there "literally nothing you can do"? I suggested a fix which does not seem to be too bad in my opinion and probably easily implementable.

[2017-08-20 02:09] uchuugaka opened #981 "Dependency Management"
* Cookiecutter version: 1.5.1
* Template project url:
* Python version: 2.7.10
* Operating System: macOS 10.12.6

### Description:
I noticed that cookiecutter has the following dependencies.
whichcraft, binaryornot, poyo, click, jinja2, future, jinja2-time
This adds the cognitive load of this to the management of a virtualenv (assuming that is feasible with a given project).
It limits what the ove

[2017-08-20 04:46] lszyba1 commented on #973
Couldn't you add your shell code to post_gen
1. Generate initial template
2. Run your SH script
3. Use examples below to modify the already generated templates from part 1 with additional changes after shell returned the results
http://lucasmanual.com/blog/cookiecutter-modify-context-in-post_gen_project-py/
Lucas

[2017-08-20 19:39] milonimrod commented on #973
Hi @lszyba1,
I think that solving using 1 & 2 is too and requires the user to have long and cluttered scripts. 3 seems very useful for many tasks but I don't think this is a good approach. As I see it, it can help organize the hooks in a tidy manner

[2017-08-21 09:06] bofm opened #983 "TypeError: a bytes-like object is required, not 'str' on Python 3.6.2"
* Cookiecutter version: 1.5.1
* Template project url: https://github.com/audreyr/cookiecutter-pypackage.git
* Python version: 3.6.2
* Operating System: Mac OS Sierra

### Description:

When git clone subcommand fails the following error is returned.
### What I've run:

[code]

A better error message should be displayed instead.

[2017-08-21 18:48] michaeljoseph commented on #983
Hi @bofm, thanks for the issue, this looks like #905, which is in master, but not yet released.

[2017-08-21 18:48] #983 closed

[2017-08-31 20:14] xoviat commented on #981
@uchuugaka

I just want you to know that your complaints about being unable to use the API resulted in changes which broke everyone's pull requests. To say that I disliked your attitude and actions on the issue that you opened at pip would be an understatement.

[2017-08-31 20:29] uchuugaka commented on #981
@xoviat I appreciate your sentiments. This is probably not the best place for discussing it.

[2017-09-03 08:47] ymcidence commented on #983
Is there anybody sloved this ?

[2017-09-06 08:12] jgoerner commented on #875
Hey @hackebrot, any updates on that topic?

I seem to run into the same problem of @aryamccarthy. During the cookiecutter CLI "question" process I occasionaly have to hit the backspace - which messes up the variables.

For every backspace I get an `?` into the variable name. Assuming that my repo is named `my_repo` but I first wrote `my_repu` and hit backspace one to change it to `my_repo`, cookie

[2017-09-06 17:01] GlassGruber opened #985 "Environment variable in .cookiecutterrc file evaluation"
* Cookiecutter version: 1.5.1
* Python version: 3.6
* Operating System: Windows

Hey there! First of all thank you for this tool, I've always struggled to find something flexible and customizable as powerfull like this! :)

As title goes, I'd like to use the `.cookiecutterrc` with couple of custom aliases. In these aliases I use custom paths with some environment variables like this:
[code]

Runni

[2017-09-13 14:13] detroitcoder commented on #851
Asking a similar question. I wanted to use cookie cutter to deploy applications that require a lot of configuration and was hoping to use cookiecutter to templatize the deployment. I want to add variables that are like {{cookiecutter.current_directory}} or {{cookiecutter.current_user}} without needing to pass these in from the command line. I was hoping there was a hook somewhere that I could set

[2017-09-18 20:52] jboynyc opened #987 "Don't assume Bitbucket repositories are Mercurial repos"
* Cookiecutter version: 1.5.1
* Python version: 3.6
* Operating System: Arch Linux

### Description:

I'm trying to use a template hosted in a git repository on Bitbucket. Supplying the template repository URL results in an error because cookiecutter attempts to clone it with Mercurial.

Workaround for now: appending `.git` to the end of the url seems to do the trick.

[2017-09-22 18:57] robinovitch61 commented on #875
@hackebrot , +1 for jgoerner's comment above.

[2017-09-25 08:13] Yajo commented on #784
So is there a way to update a cookiecutter project then?

[2017-10-05 19:21] pattyjogal commented on #987
If I'm not mistaken, [Bitbucket's spec ](https://confluence.atlassian.com/bitbucket/clone-a-repository-223217891.html) says you need to include the .git on cloning a Bitbucket git repo. So this would make sense.

[2017-10-07 16:49] rgreinho commented on #429
I'm up for the task, and here is a PR we can use to restart the conversation: https://github.com/audreyr/cookiecutter/pull/992.

I do have a use case where I need to ignore the hooks, therefore I would like to have the `skip` option implemented (which is what my PR is for actually).

`--accept-hooks=yes|ask|no` seems to have the consensus, shall I update my PR accordingly?

[2017-10-09 04:37] techdragon commented on #970
TOML is likely to be a better long term choice since future versions of packaging tools such as `pip` and `setuptools` will be using TOML since it was chosen as the format for the future Pipfile feature.

Using TOML will mean at some point in the future you can rely on TOML support coming out of the box with the users Python install just like `pip` does now. (for current versions of python)

[2017-10-09 04:40] Varriount commented on #970
@techdragon Neat. Where are these plans for pip posted?

[2017-10-09 07:27] michaeljoseph commented on #429
:+1: to updating #992 to rename `--ignore-hooks` to `--accept-hooks`...

[2017-10-09 08:05] pfmoore commented on #970
[PEP 518](https://www.python.org/dev/peps/pep-0518/) is where the new format using TOML was specified. To parse the format, pip vendors the [pytoml](https://pypi.python.org/pypi/pytoml) library - the vendored code is *not* available outside of pip, though. I'm not aware of any proposal to add TOML support to the standard library, although I guess it's a possibility at some point.

[2017-10-09 22:44] rgreinho commented on #429
@michaeljoseph PR #992 updated.

[2017-10-11 12:19] jboynyc commented on #987
Fair enough. But perhaps the error handling could be made more user-friendly. I'll look into providing a patch.

[2017-10-11 12:19] #987 closed

[2017-10-14 21:01] meahow commented on #742
Looks like these files in the cookiecutter directory still have some pydocstyle issues:
[code]

[2017-10-14 21:42] terryjbates commented on #742
I will withdraw this PR. I am done with contributing to this project.

[2017-10-15 07:28] hackebrot opened #1001 "Release 1.6.0"
It's time for a new release now that #961 has been merged 🍪 🚀

Any suggestions for a release name? What's the name of your favorite cookie?

@audreyr @pydanny @michaeljoseph @pfmoore @freakboy3742

[2017-10-15 07:53] hackebrot commented on #981
Hi @uchuugaka! 👋

The version requirements are in place for a reason. Some features that Cookiecutter relies on are only available from a specific version of a dependency.

Vendoring dependencies isn't feasible for Cookiecutter maintainers, I'm afraid. It would be great if templates would come with their dependencies though. That being said, we would need sponsoring for developing and maintaining

[2017-10-15 08:06] hackebrot commented on #979
Hi @theodesp! 👋

Thanks for the suggestion.

There are only a handful maintainers for Cookiecutter and no part of this project is *owned* by a particular person. I'd rather not send emails automatically to maintainers and request a review from them. If they decide to watch this repo they will get notified anyways.

From [Code Owners blogpost](https://github.com/blog/2392-introducing-code-owners)

[2017-10-15 08:31] hackebrot commented on #970
Hi @Varriount, @brutus, @techdragon! 👋

Thanks for the suggestion and your feedback. 🙇

Moving to a new file format for ``cookiecutter.json`` would mean a lot of ongoing work for Cookiecutter maintainers. That being said, this would only be justified if we also add config features that people have requested for a long time and add new capabilities for template authors. See #848 for more informatio

[2017-10-15 10:02] hackebrot commented on #1001
I'm happy to go with [Tim Tam](https://twitter.com/freakboy3742/status/919501363762958336), if there are no objections 😁 🇦🇺

[2017-10-15 10:51] pydanny commented on #1001
Tim Tam!!

[2017-10-15 19:27] hackebrot commented on #1001
[Tim Tam](https://github.com/audreyr/cookiecutter/releases/tag/1.6.0) is live! 😁 🍪 🚀

[2017-10-15 19:27] #1001 closed

[2017-10-18 14:49] xuanluong opened #1002 "Support multiple choice variables"
Thanks for the great tool!

Unless I miss something from the documentation, choice variables only allow a single choice. I think supporting multiple-choice would be nice. I can imagine a use-case of generating a config file listing different architectures on which a software will be released
[code]
Users may want to have more than one or even all the architectures to be listed in that config file.

[2017-10-18 16:09] michaeljoseph commented on #1001
🎉😍 @hackebrot.
Thank you 🍪🍰

[2017-10-18 18:31] pydanny commented on #1001
Tim Tam Slam!

Many thanks @hackebrot!

[2017-10-22 21:07] glyph opened #1004 "CookieKeeper: templates as reusable, enduring artifacts rather than project generators"
(This is a feature request / design discussion rather than a bug report, so, template omitted.)

Cookiecutter's primary use seems to be at the point where one generates a *new* project.  However, the files that Cookiecutter templates generate (`tox.ini`, `travis.yml`, etc) frequently need to be updated over time, and best practices evolve, so templates rarely stand still.

The most illustrative ex

[2017-10-25 05:48] pydanny commented on #1004
This is something that was considered from the first day the project launched. In fact, we've cooked up in-house tools to **kinda sorta** make this happen for ourselves on various projects. But our requirements are specific for us only, and open sourcing these tools doesn't make any sense.

To make a tool of this sort usable by others is an enormous amount of sophisticated work. It's the kind of e

[2017-10-27 14:01] ionelmc commented on #235
Some update here, meanwhile I've made this: https://pypi.python.org/pypi/cookiepatcher

It works great but it's ugly and messed up on the inside (iow: it often breaks after a new cookiecutter release). It's a pain in the ass to maintain. Can we please have this functionality built into cookiecutter?

My suggestion is to have a new option `--regenerate=project-path` and keep the same convention (a

[2017-10-27 14:48] ionelmc commented on #235
Another idea: retrofit replay feature to allow `--replay=project-path`.

[2017-10-27 17:20] patcon commented on #784
fwiw, i recall doing similar things (though not as complex) without using a `template` branch, mostly because i leaned on `git add --patch` for stepping through each patchset that I wanted to commit, and _not_ adding patches that override customized bits. the "s" (split patch) and "e" (edit patch) options when walking through the patchsets are critical to this feeling natural :)

So it's basically

[2017-10-29 21:38] bplotnick opened #1005 "Allow for non-json-serializable context"
I'm moving from a bespoke jinja2 templating system to cookiecutter (used as a python [library](https://cookiecutter.readthedocs.io/en/latest/cookiecutter.html#module-cookiecutter.main)), and am trying to pass arbitrary python objects as extra context, which is something allowed in jinja2. For example, in my current template, I pass a formatting function as context and want to call it like:

[code]

[2017-10-30 08:15] Yajo commented on #784
If you want your private cookiecutter, just add `.cookiecutter.json` to `.gitignore`, or use a private repo that even if somebody knows about it, it cannot be used by them. I think I prefer the files approach too. It seems easier to grasp by anybody.

[2017-11-04 11:52] hackebrot commented on #920
🔔  @kevindiamond

[2017-11-04 14:51] pydanny commented on #920
If you or your company want me to promote you in social media, then sponsor @hackebrot's Patreon account.

[2017-11-12 09:51] glyph commented on #1004
Is there an existing funding structure for cookiecutter where one might make a directed donation?

[2017-11-13 03:28] pydanny commented on #1004
Thank you @glyph, the current place is patreon.com/hackebrot.

[2017-11-23 21:38] edesz opened #1010 "cookiecutter cannot create a project tree using a bash script"
* Cookiecutter version: 1.6.0
* Template project url: N/A
* Python version: 2.7.14
* Operating System: Ubuntu 17.10

### Description:

**What am I trying to get done?**
I am trying to create a cookiecutter project using a `bash` script on Ubuntu 17.10. I am following the beginner's guide [here](http://cookiecutter.readthedocs.io/en/latest/first_steps.html) to create this project.

**What went wron

[2017-11-23 21:50] luzfcb commented on #1010
probably, you should send the link from a public repository, which contains your cookiecutter template

[2017-11-25 14:32] hackebrot commented on #1010
Hi @edesz! 👋

Cookiecutter requires a templated directory at the top level of your template project.

[code]

As for running bash scripts check out the documentation on [post generation hooks](https://cookiecutter.readthedocs.io/en/latest/advanced/hooks.html).

Cookiecutter generates new projects based on an existing directory tree of a template. So typically you do not need to create directories

[2017-11-25 18:24] edesz commented on #1010
@hackebrot Thanks! Your comment helped. I previously had mis-understood. Now it is much clearer.

[2017-11-25 18:24] #1010 closed

[2017-11-26 20:06] hackebrot commented on #1002
Hi @xuanluong! 👋

Thank you for your feedback. It's great to hear that you find Cookiecutter useful. 🙇

You can try working around this limitation with [dictionary variables](https://cookiecutter.readthedocs.io/en/latest/advanced/dict_variables.html#dictionary-variables-1-5).

We would like to add support for a new **cookiecutter.json** format, which would open up a whole range of possibilities in

[2017-11-28 17:51] edesz opened #1012 "Trouble deploying Extra context example using the Advanced Usage docs"
I am having difficulty running  the **Advanced example Defaults + Extra Context**, using the [docs](http://cookiecutter.readthedocs.io/en/latest/advanced/suppressing_prompts.html#advanced-example-defaults-extra-context).

I have created a minimal reproducible example using [this project](http://cookiecutter.readthedocs.io/en/latest/first_steps.html#learn-the-basics-of-cookiecutter-by-creating-a-co

[2017-11-28 21:07] hackebrot commented on #1012
Hi @edesz! 👋

This looks to me like there is a problem with your ``cookiecutter.json`` file:

[code]

When cookiecutter prompts the user for input on the CLI, it attempts to update default values based on the provided template for each variable. For example if the user specifies ``username`` to be ``"Audrey Roy Greenfeld"`` the default value for ``user`` will be rendered as ``"audreyroygreenfeld"`

[2017-11-28 21:50] hackebrot commented on #1012
Based on the information that you provided ``cookiecutter_runner.py`` will not be executed when running cookiecutter. What you want to do is run the script directly rather than calling ``cookiecutter`` directly from the CLI and update the template argument accordingly.

[code]

[code]

[2017-11-28 23:17] edesz commented on #1012
Done!

Rafael, your 2nd post answered the next question I was about to ask. Thanks so much!

However, I am not sure what you meant by "update the template argument".....I simply used the same as you did and made no changes. It worked for me. I did not make any updates at all. All I had to change was to add one line at the top: `import os`....everything else in my `*.py` file was identical to what

[2017-11-29 02:37] edesz commented on #1012
If a dictionary variable should be set to a default value, like this python file:

[code]

with this `json` file

[code]
I got an error message:

$ python cookiecutter-fabric-esneor/cookiecutter_runner.py

did not work. It gave
[code]
Does **extra context** support dictionary variables?

[2017-11-30 21:01] #1012 closed

[2017-12-02 13:48] victor73 opened #1014 "Support for subversion repositories"
* Cookiecutter version: 1.6
* Template project url: N/A
* Python version: *
* Operating System: *

### Description:

It would be nice if cookiecutter supported subversion for greater flexibility. From the documentation, it seems once can currently specify a github repo with a "git+" prefix and a mercurial repo with an "hg+" prefix. Therefore, it seems that supporting an "svn+" prefix for subversio

[2017-12-03 14:51] hackebrot opened #1017 "Python 3.3 support"
Hey there! 👋

I just pinned our test dependencies to use ``pytest<3.3.0`` via 0c92f3c893f558d3d5a4f8cb5bf5a3cfb894261d as the [latest pytest release][pytest release] dropped support for Python 3.3.

How do you feel about Python 3.3 support in Cookiecutter?

@audreyr @pydanny @michaeljoseph @pfmoore

[pytest release]: https://docs.pytest.org/en/latest/changelog.html#pytest-3-3-0-2017-11-23

[2017-12-04 03:16] Nythiennzo commented on #709
Please have a look at #1015
It's my first time commenting on an issue.

[2017-12-04 03:18] Nythiennzo commented on #733
Please have look at #1016
It's one of my first times commenting on an issue.

[2017-12-05 12:10] hugovk commented on #1017
I would suggest that new projects only support non-EOL versions of Python which are supported by the core team and still receive security updates.

![image](https://user-images.githubusercontent.com/1324225/33606274-9c289a04-d9c5-11e7-91a8-5b02d4e2d3a0.png)

https://en.wikipedia.org/wiki/CPython#Version_history

Many important Python libraries (eg. testing, distribution) are dropping support for E

[2017-12-05 12:42] pydanny commented on #1017
I like the idea of dropping Python 3.3 support. Although it makes me sad because that's the version this project started on. 😭

[2017-12-05 12:44] hugovk commented on #1017
Onwards and upwards!

[2017-12-06 20:35] umeboshi2 commented on #970
Is is really necessary to "move" to a new format just to support a ```cookiecutter.yml`` file?  Wouldn't it be just as easy to just detect the presence of the file and use it?  Why not just make it optional and let template maintainers deal with the problems that may occur?

[2017-12-08 20:59] milin opened #1021 "Allow for conditional prompting"
* Cookiecutter version: latest
* Template project url:
* Python version:
* Operating System:

### Description:

Depending on the answer to one of the prompts, show or hide other related prompts.

[2017-12-09 12:32] hackebrot commented on #1021
Hi @milin! 👋

Thank you for your suggestion.

Please see #848

[2017-12-10 16:55] briancappello commented on #723
The solution in this thread wasn't quite clear to me, so for anybody else landing here from google:

[code]

[code]

[code]

[2017-12-11 13:59] milin commented on #1021
Thanks @hackebrot. Looks like `skipIf` is what I am looking for. Any idea if its still looking for sponsorship or if its being worked on. Wouldn't mind jumping in, if some extra help is needed.

[2017-12-24 15:04] sobolevn commented on #891
I have the similar question. Is there any way to achieve that?
@habnabit @hetsch

[2017-12-28 18:51] alltheoptions opened #1027 "Not working on windows"
* Cookiecutter version: newest
* Template project url:
* Python version: 3.6.4
* Operating System: Windows 10

### Description:

pip install cookiecutter

### What I've run:
cookiecutter
[code]

[2017-12-28 19:06] #1027 closed

[2018-01-03 18:09] Pawamoy commented on #891
What is the computed value of `PROJECT_DIRECTORY`? Only files in `{{cookiecutter.variable}}`` directories are processed.

[2018-01-03 18:39] Pawamoy commented on #1004
Hi @glyph, following is how I am partially solving this issue. It's not perfect. I got inspiration from someone else but can't remember who or where (surely in another issue here).

Explained in a few words:
- when project is generated, output the user-input into a `.cookiecutterrc` file (done in post hook)
- also immediately checkout a new branch called cookiecutter
- this branch is used to updat

[2018-01-05 08:04] nicain opened #1029 "Generate_context behavior when overwrite_if_exists = True and _copy_without_render is specified"
* Cookiecutter version: 1.6.0
* Python version: py27, py35, py36
* Operating System: Ubuntu 16.04.3 LTS

### Description:

When overwrite_if_exists = True, and _copy_without_render is specified, the use of shutil.copytree in generate.py::generate_files means that the files cannot be over-written.  This seems like incorrect behavior to me.

### What I've run:

[code]

I have prepared a fix and will

[2018-01-05 17:17] thornycrackers opened #1031 "Choice Variables remove spaces/newlines"
* Cookiecutter version: 1.3.0 - 1.6.0
* Template project url: https://github.com/thornycrackers/cookiecutter-newline
* Python version: 3.6.2
* Operating System: mac/Arch linux

### Description:

I'm trying to write a cookie cutter and use the choices to render conditional content. My issue is that when cookie cutter renders the project it is removing all of the white space and I the final version

[2018-01-05 17:20] thornycrackers commented on #1031
I didn't realize that the `{%-` controlled whitespace I just thought that's how you write the templates.

http://jinja.pocoo.org/docs/dev/templates/#whitespace-control

[2018-01-05 17:20] #1031 closed

[2018-01-21 18:20] Casyfill opened #1033 "cookiecutter root context"
My ultimate goal is to change project's name depending on the context (root folder). In particular, I want to index my projects automatically, basing on the max number of matching folder names in the root, like:

[code]

However, there are two obstacles to that, from what I can see:
- there is no way currently how I can change `context` from the hook. however, I hope that I can just rename the fol

[2018-01-22 17:48] achapkowski opened #1035 "npm and ipython widgets"
* Cookiecutter version: 1.6.0
* Template project url: https://github.com/jupyter/widget-cookiecutter.git
* Python version: 3.6
* Operating System: Windows

### Description:

Hello,

I just have a question: I want to build an ipython widget, but I don't want to create an account on NPM, can I just host the stuff locally still I'm ready to push everything out to the world?  Also, NPM takes forever t

[2018-01-22 17:56] luzfcb commented on #1035
@achapkowski your question is not related to this project. this repository deals with things related to the development of the cookiecutter itself and not of projects that use cookiecutter, like https://github.com/jupyter/widget-cookiecutter.git .

Please, send your question to `widget-cookiecutter` Gitter chat room: https://gitter.im/jupyter-widgets/Lobby

Thanks. :-)

[2018-01-22 17:59] #1035 closed

[2018-01-28 04:55] gtaylor commented on #704
I'd be looking to change jinja's `variable_start_string` and `variable_end_string` to avoid colliding with something I'm templating.

[2018-01-30 07:21] AbhishekNFX opened #1036 "Any doc for creating iOS Template?"

[2018-01-30 07:26] pydanny commented on #1036
No, but if you come up with it please submit a pull request with the documentation.

[2018-01-30 07:26] #1036 closed

[2018-02-15 20:08] szelenka opened #1041 "Git submodule within template are not cloned from Git repo"
* Cookiecutter version: 1.6.0
* Template project url: https://github.com/szelenka/cookiecutter_bug
* Python version: 3.6
* Operating System: macOS 10.12.6

### Description:
Trying to create a cookiecutter with a submodule. When working with the git repo locally, the cookiecutter command can duplicate the structure of the submodule.

However, when trying to do this through git, it fails to pull the

[2018-02-20 15:36] pydanny commented on #1017
@hackbrot, I was going to work on this ticket. You okay with that?

[2018-02-20 15:39] hackebrot commented on #1017
Sure thing! Go for it, @pydanny 👨‍💻 🚀

[2018-02-20 15:41] hackebrot commented on #1017
Did you see #1024, @pydanny?

[2018-02-21 04:33] supermnemonic opened #1043 "empty folder not generated"
* Cookiecutter version: 1.6.0

### Description:

what do:
generate xcode project. there are empty folders/groups that i want to include.

what wrong:
empty folders not generated. but non-empty folder successfully generated.

expected:
empty folder generated.

### What I've run:

cookiecutter ./
no error. successfully run.

any suggestion? :)

[2018-02-21 05:01] #1043 closed

[2018-02-28 13:57] Pawamoy commented on #851
@detroitcoder what about prefixing them with an underscore in `cookiecutter.json`? I think they will not be prompted to the user and you can set them thanks to previous variables, like `"_current_directory": "{{ cookiecutter.project_name }}"`. Of course it is limited, as you won't be able to set these variables using Python functions like `os.getcwd()`.

[2018-03-01 15:04] jcamozzi opened #1046 "Populate Dictionary values in user config?"
* Cookiecutter version: 1.6
* Template project url: n/a
* Python version: 2.7
* Operating System: MacOs High Sierra

### Description:

I know I can define dictionary values the cookiecutter.json file, but I'm not sure how I can do this in the userconfig.yml file — nor am I sure it's possible. I may just not know the format (there's nothing in the docs about this). default_context seems to just all

[2018-03-02 07:00] jgrasser commented on #1041
This code for cloning/checking out a repository exists in the [vcs.py](https://github.com/audreyr/cookiecutter/blob/master/cookiecutter/vcs.py) module.

As you can see, you were correct in your assertion that they were not cloning with the --recurse-submodules flag.

This looks like a fairly simple change.

[2018-03-02 07:37] jgrasser commented on #1041
After some more review, this changes look  a little more complex since the clone method is built to be usable with both git and mercurial. I'll play around with the code and see if I can't make something a bit cleaner.

[2018-03-02 08:32] jgrasser commented on #1041
#1048 should do it.

[2018-03-03 04:53] BrandenKeck commented on #703
Hi All,

I was having the same problem running from Command Prompt in Windows 8.
I discovered that I was able to run the cookie cutter command in the Git Bash shell and no longer experienced issues.

Hopefully this information is of help.

Best,
Branden

[2018-03-05 18:14] bilderbuchi opened #1049 "Best practice to ship package with template?"
* Cookiecutter version: 1.6.0
* Template project url: -
* Python version: 3.5
* setuptools 38.5.1
* Operating System: Linux

### Description:

I am maintaining an internal python package with a number of utility functions. As part of this package, I included a project generator `console_script` which calls cookiecutter using a custom template that is shipped with the package. This works fine when

[2018-03-12 19:49] bilderbuchi commented on #1049
So, after a fruitless search, I circumvent this issue by changing all my `.py` template files to `.pytemplate`. This avoids bdist/bdist_conda discovering them. I added a post_gen script that renames all the files back to `.py` after the project has been created from the template. Stupid workaround, but it works. :sigh:

[2018-03-13 10:11] JoeAlamo commented on #972
If there are entire directories that you don't want cookiecutter to try to render, use https://cookiecutter.readthedocs.io/en/latest/advanced/copy_without_render.html

[2018-03-18 03:45] glyph commented on #1004
Hi @Pawamoy - any chance you could rewrite this shell script in Python? :)

[2018-03-18 11:36] Pawamoy commented on #1004
@glyph I can give it a try yes! Good idea!

[2018-03-18 18:59] glyph commented on #1004
Thanks!

[2018-03-20 00:09] glxiong opened #1053 "ImportError raised when trying to load 'debug_toolbar.templatetags.compat': cannot import name 'url'"
* Cookiecutter version: git
* Template project url:
* Python version: 3.5.3
* Operating System: Mac

After creating initial django cookiecutter code, I got the following error

InvalidTemplateLibrary
Invalid template library specified. ImportError raised when trying to load 'debug_toolbar.templatetags.compat': cannot import name 'url'
/Users/test/anaconda/lib/python3.5/site-packages/django/templat

[2018-03-20 00:12] luzfcb commented on #1053
@glxiong this is not a Cookiecutter bug. it's probably a bug in the cookiecuter-based project template you're using.

[2018-03-20 03:07] pydanny commented on #1053
Closed as a bug in a Cookiecutter template, not an issue with Cookiecutter itself. Please file your pair with the template you were trying to use.

[2018-03-20 03:07] #1053 closed

[2018-03-20 13:17] OksanaShc commented on #353
Will be this bug be fixed? I also met this problem when tryed to use Cookiecutter from python script with some private BB repo.

[2018-03-20 13:56] pydanny commented on #353
@OksanaShc Hopefully we'll have funding soon and can start closing out issues that don't impact our professional work. For now, none of us core maintainers can find the free time to fix an issue that isn't directly impacting our own professional work.

Considering no one has this problem on GitHub or GitLab private repos, maybe this is on BitBucket?

[2018-03-20 14:46] OksanaShc commented on #353
Thanks for reply.
Frankly speaking, I didn't investigate it because I use only BitBucket for professional work.
But - I found workaround:
cookiecutter('https://%s:%s@bitbucket.org/some_project.git' % (git_username, git_pass)

So to clone repository user just need to put password in link. For the first time I just missed that param 'password' is for extracting zip files, not for cloning repo.

[2018-03-20 15:16] #942 closed

[2018-03-22 15:56] wilmardo opened #1054 "Cookiecutter install seems to be broken due jinja2-time arrow dependency"
* Cookiecutter version:
1.6.0
* Python version:
2.7
* Operating System:
Ubuntu 16.04 (in WSL)

### Description:

Broken on at least Python 2.7 due to the jinja2-time dependency to arrow, see [this issue at `arrow`](https://github.com/crsmithdev/arrow/issues/495) and [this issue at `jinja2-time`](https://github.com/hackebrot/jinja2-time/issues/6).

### What I've run:
For more logs see [my comment i